.black {
  color: #000000;
}
.grey {
  color: #555555;
}
.dkgrey {
  color: #3d3d3d;
}
.ltgrey {
  color: #aaaaaa;
}
.red {
  color: #c63936;
}
.xltgrey {
  color: #eeeeee;
}
.white {
  color: #ffffff;
}
.aqua {
  color: #44b7a9;
}
.blue {
  color: #47a9e1;
}
.magenta {
  color: #cb4d83;
}
.yellow {
  color: #f1c736;
}
.green {
  color: #82af35;
}
.orange {
  color: #ef7436;
}
.almostblack {
  color: #141414;
}
.bg-blue {
  color: #fff;
  background: #47a9e1;
}
.bg-orange {
  color: #fff;
  background: #ef7436;
}
.bg-aqua {
  color: #fff;
  background: #44b7a9;
}
.bg-green {
  color: #fff;
  background: #82af35;
}
.bg-dkgrey {
  color: #fff;
  background: #3d3d3d;
}
.bg-magenta {
  color: #fff;
  background: #cb4d83;
}
.bg-yellow {
  color: #000;
  background: #f1c736;
}
.bg-red {
  color: #fff;
  background: #c63936;
}
.bg-grey {
  background: rgba(60, 60, 60, 0.5);
}
.bg-black {
  background: rgba(0, 0, 0, 0.5);
}
.bg-trans {
  background: transparent;
}
.bg-white {
  background: #fff;
  color: #000000;
}
.bg-xltgrey {
  background: #eeeeee;
  color: #000000;
}
.basefont,
.sans,
.roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.roboto-med {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.condensed {
  font-family: 'Roboto Condensed', sans-serif;
}
.slab,
.serif {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}
html,
div,
p,
span,
a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
small,
.small {
  font-size: 12px;
}
ul {
  padding: 0px;
}
ul ul {
  margin-left: 20px;
}
ul li {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 17px;
  margin-bottom: 10px;
  line-height: 16px;
}
ol li {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 30px;
  margin-bottom: 10px;
  line-height: 16px;
}
.list-none {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}
.rs {
  border: none;
  background: none;
  background-image: none;
}
.border {
  border: 1px solid #aaaaaa;
}
strong,
b,
.strong,
.bold {
  font-weight: 700;
  font-family: inherit;
}
strong,
b {
  font-weight: bold;
  font-family: inherit;
}
.normal {
  font-style: normal;
}
em,
i,
.em {
  font-style: italic;
}
.regular,
.reg {
  font-size: 1em;
  line-height: 1.3em;
}
.med {
  font-size: 1.33em;
  line-height: 1.2em;
}
.large {
  font-size: 1.75em;
  line-height: 1.15em;
}
.xlarge {
  font-size: 2.2em;
  line-height: 1.15em;
}
.xxlarge {
  font-size: 3.2em;
  line-height: 1.15em;
}
.small {
  font-size: 0.75em;
}
.xsmall {
  font-size: 0.5em;
}
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.fix {
  position: fixed;
}
.show,
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.hide,
.elements-invisible {
  display: none;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.td-none,
a {
  text-decoration: none;
}
.td-under {
  text-decoration: underline;
}
.upper {
  text-transform: uppercase;
}
.caps {
  text-transform: capitalize;
}
.lower {
  text-transform: lowercase;
}
.tt-none {
  text-transform: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none;
}
.cb {
  clear: both;
}
.cl {
  clear: left;
}
.cr {
  clear: right;
}
.cn {
  clear: none;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.ti {
  text-indent: -5000px;
}
.ti0 {
  text-indent: 0px;
}
.vtop,
.vtop td,
.vtop th {
  vertical-align: top;
}
.vmid,
.vmid td,
.vmid th {
  vertical-align: middle;
}
.vbtm,
.vbtm td,
.vbtm th {
  vertical-align: bottom;
}
.w5 {
  width: 5%;
}
.w10 {
  width: 10%;
}
.w15 {
  width: 15%;
}
.w20 {
  width: 20%;
}
.w25 {
  width: 25%;
}
.w30 {
  width: 30%;
}
.w33 {
  width: 33.3%;
}
.w35 {
  width: 35%;
}
.w40 {
  width: 40%;
}
.w45 {
  width: 45%;
}
.w50 {
  width: 50%;
}
.w55 {
  width: 55%;
}
.w60 {
  width: 60%;
}
.w65 {
  width: 65%;
}
.w70 {
  width: 70%;
}
.w75 {
  width: 75%;
}
.w80 {
  width: 80%;
}
.w85 {
  width: 85%;
}
.w90 {
  width: 90%;
}
.w95 {
  width: 95%;
}
.w100 {
  width: 100%;
}
.bs {
  -moz-box-shadow: 0px 2px 3px #777;
  -webkit-box-shadow: 0px 2px 3px #777;
  box-shadow: 0px 2px 3px #777;
}
.p0 {
  padding: 0px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p20 {
  padding: 20px;
}
.p25 {
  padding: 25px;
}
.p30 {
  padding: 30px;
}
.p35 {
  padding: 35px;
}
.p40 {
  padding: 40px;
}
.p45 {
  padding: 45px;
}
.p50 {
  padding: 50px;
}
.auto {
  margin: 0 auto;
}
.m0 {
  margin: 0px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
h1 {
  font-size: 46px;
  line-height: 51px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: -1px;
}
@media (max-width: 1120px) {
  h1 {
    font-size: 36px;
    line-height: 40px;
  }
}
h2 {
  font-size: 34px;
  line-height: 38px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: -1px;
}
@media (max-width: 1120px) {
  h2 {
    font-size: 26px;
    line-height: 30px;
  }
}
h3 {
  font-size: 22px;
  line-height: 26px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: 0px;
}
@media (max-width: 1120px) {
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #000;
}
.block-block {
  margin-bottom: 0px;
}
.block {
  margin-bottom: 0px;
}
.tabs-primary {
  margin: 0px;
  padding: 20px 0 10px;
}
#page {
  width: 100%;
  height: 100%;
}
#navigation {
  width: 240px;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0px;
  bottom: 0px;
  background: #000000 url("../images/bg-navigation.jpg") no-repeat center top;
  overflow: visible;
}
#navigation .region-navigation {
  height: auto;
  overflow: visible;
}
#navigation #logo {
  width: 240px;
  height: 240px;
  background: url("../images/treehouse-logo-white.svg") no-repeat center center;
  background-size: 150px 150px;
  display: block;
  margin-bottom: 0px;
  margin: 0px;
}
#navigation .mobile-menu {
  display: none;
  clear: both;
}
#navigation .mobile-nav {
  display: none;
}
#navigation .mobile-nav .block-content {
  padding: 10px 5%;
}
#navigation .mobile-nav .block-content ul.menu li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  text-align: left;
  background: transparent url("../images/white15.png") repeat-x bottom;
  padding: 0px;
  margin: 0px;
  float: none;
}
#navigation .mobile-nav .block-content ul.menu li a {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  display: block;
  margin-bottom: 0px;
  padding: 7px 0;
  text-align: left;
  font-size: 13px;
}
#navigation .mobile-nav .block-content ul.menu li a:visited {
  color: #000000;
}
#navigation .mobile-nav .block-content ul.menu li.last {
  border-bottom: none;
}
#navigation #mobile-menu-trigger {
  float: left;
  left: 2%;
  top: 0;
  z-index: 99;
  padding: 25px 10px 23px 34px;
  background: url("../images/mobile-menu-white.svg") no-repeat left center;
  background-size: 30px 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  display: block;
  margin-bottom: 0px;
}
#navigation .block-nice-menus {
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
  z-index: 9999;
}
#navigation .block-nice-menus h2.block-title {
  display: none;
}
#navigation .block-nice-menus ul.nice-menu-right {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border-top: none;
}
#navigation .block-nice-menus ul.nice-menu-right li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  padding: 0px;
  display: block;
  margin-bottom: 0px;
  float: none;
  margin: 0px;
  border: none;
  background: transparent;
  width: 100%;
}
#navigation .block-nice-menus ul.nice-menu-right li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #aaaaaa;
  display: block;
  margin-bottom: 0px;
  padding: 9px 18px;
}
#navigation .block-nice-menus ul.nice-menu-right li a:visited {
  color: #aaaaaa;
}
#navigation .block-nice-menus ul.nice-menu-right li a:hover {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}
#navigation .block-nice-menus ul.nice-menu-right li.menuparent {
  background: url("../images/arrow-white.svg") no-repeat 215px 10px;
  background-size: 15px 15px;
}
#navigation .block-nice-menus ul.nice-menu-right li.menuparent a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
#navigation .block-nice-menus ul.nice-menu-right li.menuparent ul {
  left: 240px;
  z-index: 9999;
  width: 200px;
  padding: 5px 0 15px;
  background: #47a9e1;
  border: none;
}
#navigation .block-nice-menus ul.nice-menu-right li.menuparent ul li {
  border-bottom: none;
  background: transparent;
}
#navigation .block-nice-menus ul.nice-menu-right li.menuparent ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  line-height: 18px;
  padding: 9px 20px;
  text-transform: none;
  background: transparent;
}
#navigation .block-nice-menus ul.nice-menu-right li.menuparent ul li a:visited {
  color: #ffffff;
}
#navigation .block-nice-menus ul.nice-menu-right li.menuparent ul li a:hover {
  color: #ffffff;
  background: #21394f;
}
#navigation .block-nice-menus ul.nice-menu-right li.active-trail a.services,
#navigation .block-nice-menus ul.nice-menu-right li.active-trail a.service {
  border-left: 10px solid #47a9e1;
  padding: 9px 18px 9px 8px;
  color: #ffffff;
  font-weight: 700;
  font-family: inherit;
}
#navigation .block-nice-menus ul.nice-menu-right li.active-trail a.case-studies {
  border-left: 10px solid #44b7a9;
  padding: 9px 18px 9px 8px;
  color: #ffffff;
  font-weight: 700;
  font-family: inherit;
}
#navigation .block-nice-menus ul.nice-menu-right li.active-trail a.blog {
  border-left: 10px solid #cb4d83;
  padding: 9px 18px 9px 8px;
  color: #ffffff;
  font-weight: 700;
  font-family: inherit;
}
#navigation .block-nice-menus ul.nice-menu-right li.active-trail a.team {
  border-left: 10px solid #c63936;
  padding: 9px 18px 9px 8px;
  color: #ffffff;
  font-weight: 700;
  font-family: inherit;
}
#navigation .block-nice-menus ul.nice-menu-right li.active-trail a.about {
  border-left: 10px solid #ef7436;
  padding: 9px 18px 9px 8px;
  color: #ffffff;
  font-weight: 700;
  font-family: inherit;
}
#navigation .block-nice-menus ul.nice-menu-right li.active-trail a.contact {
  border-left: 10px solid #82af35;
  padding: 9px 18px 9px 8px;
  color: #ffffff;
  font-weight: 700;
  font-family: inherit;
}
#navigation .block-nice-menus ul.nice-menu-right li.menu-464 {
  display: none;
}
#navigation .social-contact {
  margin: 15px 20px 0px;
  color: #aaaaaa;
  font-size: 12px;
}
#navigation .social-contact p {
  margin-top: 0px;
  font-size: 12px;
  line-height: 17px;
}
#navigation .social-contact a {
  color: #aaaaaa;
}
#navigation .social-contact a:visited {
  color: #aaaaaa;
}
#navigation .social-contact img {
  padding-right: 10px;
}
#navigation .back-to-top {
  position: absolute;
  bottom: 0px;
  left: 20px;
  display: none;
}
@media (max-width: 1079px) {
  #navigation {
    width: 180px;
  }
  #navigation #logo {
    width: 180px;
    height: 180px;
    background-size: 120px 120px;
  }
  #navigation .block-nice-menus {
    width: 180px;
  }
  #navigation .block-nice-menus ul.nice-menu-right li.menuparent a {
    background: url("../images/arrow.svg") no-repeat 154px 14px;
    background-size: 15px 15px;
  }
  #navigation .block-nice-menus ul.nice-menu-right li.menuparent a:hover {
    background: #eeeeee url("../images/arrow.svg") no-repeat 154px 14px;
    background-size: 15px 15px;
  }
  #navigation .block-nice-menus ul.nice-menu-right li.menuparent.active-trail a {
    background: url("../images/arrow.svg") no-repeat 144px 14px;
    background-size: 15px 15px;
  }
  #navigation .block-nice-menus ul.nice-menu-right li.menuparent.active-trail a:hover {
    background: #eeeeee url("../images/arrow.svg") no-repeat 144px 14px;
    background-size: 15px 15px;
  }
  #navigation .block-nice-menus ul.nice-menu-right li.menuparent ul {
    left: 180px;
  }
  #navigation .social-contact {
    width: 180px;
    margin: 20px 15px 0;
  }
}
@media (max-width: 720px) {
  #navigation {
    position: relative;
    width: 100%;
    bottom: auto;
    top: 0px;
    height: auto;
    text-align: center;
    background: #000;
  }
  #navigation #logo {
    width: 60px;
    height: 60px;
    background-size: 48px 48px;
    background-position: center center;
    margin: 0px auto;
  }
  #navigation .block-nice-menus {
    display: none;
  }
  #navigation .mobile-menu {
    display: block;
  }
  #navigation .social-contact {
    display: none;
  }
}
#navigation p {
  margin: 0px;
}
.logged-in #navigation #logo {
  margin-top: 60px;
}
@media (max-width: 720px) {
  .logged-in #navigation #logo {
    margin-top: 0px;
  }
}
#header {
  position: relative;
  z-index: 0;
  top: 0;
  margin-left: 240px;
  width: auto;
  overflow: hidden;
}
#header .region-header {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
}
#header .region-header .view-header-image .header-image {
  background-position: center center;
}
#header .region-header .view-header-image .header-overlay {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#header .region-header .view-header-image .header-content {
  padding: 150px 13% 20px 13%;
}
#header .region-header .view-header-image .header-content h1 {
  margin-bottom: 10px;
  text-align: left;
}
#header .region-header .view-header-image .header-content p {
  margin: 0 0 10px;
  text-align: left;
}
#header .region-header .view-header-image .short-header-1 .header-content {
  padding: 80px 13% 20px 13%;
}
@media (max-width: 1079px) {
  #header {
    margin-left: 180px;
  }
}
@media (max-width: 720px) {
  #header {
    margin-left: 0px;
  }
}
.front #header {
  height: 550px;
  position: relative;
  z-index: 0;
  background: url("../images/bricks.jpg") no-repeat center center;
  background-size: cover;
}
.front #header .homepage-banner {
  position: relative;
  z-index: 1;
  width: auto;
  height: 550px;
  overflow: hidden;
}
.front #header .homepage-banner .block-content {
  padding: 15% 10% 0;
  text-align: center;
}
.front #header .homepage-banner p {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 14px;
  font-weight: 700;
  font-family: inherit;
}
.front #header .homepage-banner h2 {
  font-size: 52px;
  line-height: 50px;
  margin-bottom: 20px;
}
.front #header .homepage-banner .button {
  border: 1px solid #555555;
  background: transparent;
  color: #555555;
  font-size: 12px;
  padding: 7px 16px;
}
.front h1#page-title {
  display: none;
}
.front #content {
  position: relative;
  z-index: 1;
  background: transparent;
}
.front #content .node-page {
  margin: 0px;
}
.front #content article {
  text-align: center;
}
.front #content article .field-name-body {
  padding: 0px;
  margin: 0px;
}
.front #content article .column.third {
  width: 33.33%;
  padding: 20px 0px;
  float: left;
  height: 220px;
}
.front #content article .column.third.learn {
  background: rgba(0, 0, 0, 0.75) url("../images/icons/knowledge-white.svg") no-repeat 10px 30px;
  background-size: 110px 110px;
}
.front #content article .column.third.collaborate {
  background: rgba(0, 0, 0, 0.75) url("../images/icons/idea-white.svg") no-repeat 10px 30px;
  background-size: 110px 110px;
}
.front #content article .column.third.events {
  background: rgba(0, 0, 0, 0.75) url("../images/icons/future-white.svg") no-repeat 10px 30px;
  background-size: 110px 110px;
}
.front #content article .column.third p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 19px;
  text-align: left;
  padding: 0 20px 15px 145px;
  color: #ffffff;
}
.front #content article .column.third a.button {
  color: #ffffff;
  background: transparent;
  border: 1px solid #fff;
}
.front #content .homepage-logos {
  background: #fff;
  margin-bottom: 0px;
  padding: 10px 10%;
}
.front #content .homepage-logos p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 11px;
  line-height: 14px;
  text-align: left;
}
@media (max-width: 720px) {
  .front #header {
    height: 365px;
  }
  .front #header .homepage-banner {
    height: 365px;
    background: #ffffff url("../images/bricks.jpg") no-repeat 47% top;
    background-size: auto 470px;
  }
  .front #header .homepage-banner .block-content {
    padding: 90px 3% 0;
  }
  .front #header .homepage-banner p {
    font-size: 16px;
    line-height: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  .front #header .homepage-banner h2 {
    font-size: 26px;
    line-height: 29px;
  }
  .front #content article {
    padding-top: 20px;
  }
  .front #content article .column.third {
    width: 100%;
    margin: 0 0 20px;
    padding-bottom: 20px;
    float: none;
    border-bottom: 1px solid #ddd;
  }
  .front #content article .column.third img {
    margin: 0px 15px 30px -30px;
    float: left;
    width: 80px;
    height: auto;
    display: none;
  }
  .front #content article .column.third p {
    font-size: 14px;
    line-height: 19px;
    margin: 0 0 15px;
  }
  .front #content .homepage-logos {
    padding: 0 3%;
  }
}
.breadcrumb {
  padding: 10px 0 10px 8%;
  height: 20px;
  margin: 0px;
}
.breadcrumb li {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  text-transform: uppercase;
}
.breadcrumb li a {
  color: #47a9e1;
}
#main {
  width: 100%;
  position: relative;
  z-index: 0;
  background: #fff;
}
#content {
  width: auto;
  margin-left: 240px;
  z-index: 1;
  position: relative;
}
#content a {
  color: #47a9e1;
}
#content .field-name-body {
  margin: 50px 13%;
}
#content .field-name-body a {
  color: #47a9e1;
}
#content .field-name-body a.button {
  color: #ffffff;
}
#content .field-name-body img {
  width: 100%;
  height: auto;
}
#content .field-name-body li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  padding-left: 30px;
  margin-left: 0px;
  background: url("../images/leaf-bullet-blue.png") no-repeat left center;
}
#content .block-webform {
  margin: 40px 5%;
}
#content .block-webform h2.block-title {
  display: none;
}
#content .block-webform label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
#content .block-webform input {
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  line-height: 16px;
  max-width: 400px;
}
#content .block-webform input.form-submit {
  color: #fff;
  background: #47a9e1;
  -webkit-appearance: none;
  padding: 10px 25px;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
#content .block-webform textarea {
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  max-width: 400px;
}
#content .block-webform .form-item,
#content .block-webform .webform-component {
  max-width: 400px;
}
#content .view-file-download {
  margin: 0 8% 30px;
}
#content .view-file-download .views-row {
  padding: 20px 0;
  margin-bottom: 50px;
}
#content .view-file-download .views-row .file .file-icon {
  display: none;
}
#content .view-file-download .views-row .file a {
  -webkit-appearance: none;
  color: #fff;
  background: #47a9e1;
  text-transform: uppercase;
  padding: 9px 16px;
  font-size: 13px;
  display: inline-block;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: none;
  text-transform: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 15px 25px;
}
#content .view-file-download .views-row .file a.bg-green,
#content .view-file-download .views-row .file a.green {
  color: #fff;
  background: #82af35;
}
#content .view-file-download .views-row .file a.bg-aqua,
#content .view-file-download .views-row .file a.aqua {
  color: #fff;
  background: #44b7a9;
}
#content .view-file-download .views-row .file a.bg-magenta,
#content .view-file-download .views-row .file a.magenta {
  color: #fff;
  background: #cb4d83;
}
#content .view-file-download .views-row .file a.bg-red,
#content .view-file-download .views-row .file a.red {
  color: #fff;
  background: #c63936;
}
#content .view-file-download .views-row .file a.bg-orange,
#content .view-file-download .views-row .file a.orange {
  color: #fff;
  background: #ef7436;
}
#content .view-file-download .views-row .file a.bg-yellow,
#content .view-file-download .views-row .file a.yellow {
  color: #000;
  background: #f1c736;
}
#content .view-file-download .views-row .file a.bg-black,
#content .view-file-download .views-row .file a.black {
  background: #000;
  background: #fff;
  color: #3d3d3d;
}
#content .view-file-download .views-row .file a.bg-grey,
#content .view-file-download .views-row .file a.grey {
  background: #3d3d3d;
  background: #fff;
  color: #3d3d3d;
}
#content .view-file-download .views-row .file a.bg-white,
#content .view-file-download .views-row .file a.white {
  background: #fff;
  color: #3d3d3d;
}
#content .view-file-download .views-row .file a.hollow {
  border: 1px solid #555555;
  background: #fff;
  color: #555555;
  font-size: 12px;
}
#content .courses {
  color: #ffffff;
  background: url("../images/droplets.jpg") no-repeat center center;
  background-size: cover;
}
#content .courses .course {
  background: #ebebeb;
  color: #000000;
  padding: 40px 50px;
  margin: 0 0 60px;
  position: relative;
}
#content .courses .course h3 {
  margin: 0px 0px 12px;
}
#content .courses .course p {
  margin: 0px 0px 12px;
}
#content .courses .course .violator {
  background: url("../images/violator-grey.png") no-repeat center center;
  width: 92px;
  height: 50px;
  padding: 35px 30px;
  color: #ffffff;
  font-weight: 700;
  font-family: inherit;
  font-style: italic;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  top: -45px;
  left: -85px;
}
#content .quote .block-content {
  background: #ebebeb;
  color: #000000;
  padding: 40px 50px 20px;
  position: relative;
  text-align: center;
}
#content .quote .block-content img {
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -41px;
}
#content .quote .block-content h2,
#content .quote .block-content h3,
#content .quote .block-content h4 {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  font-family: inherit;
  font-style: italic;
}
#content .quote.consulting {
  background: url("../images/meeting.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 250px;
}
#content .quote.events {
  background: url("../images/event.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 230px;
}
#content .block-block {
  padding: 50px 13%;
}
#content .block-block table {
  border: none;
  width: 100%;
}
#content .block-block table td {
  padding: 0 25px 0 0;
  vertical-align: top;
  border: none;
}
#content .block-block table td img {
  margin: 0px;
}
#content .block-block table td p {
  margin: 0 0 10px;
}
#content .block-block .block-content li {
  background: url("../images/leaf-bullet-blue.png") no-repeat left center;
}
#content .learning-leadership-venn {
  background: url("../images/venn.jpg") no-repeat center center;
  background-size: cover;
  height: 550px;
}
#content .leadership-partners {
  background: transparent url("../images/learning-bw.png") no-repeat center top;
  margin-top: -70px;
  padding-top: 185px;
}
#content .leadership-partners table {
  border: 30px solid #ebebeb !important;
  background: #ebebeb;
}
#content .leadership-partners table td {
  padding: 10px 10px 10px 10px;
  font-weight: 700;
  font-family: inherit;
}
#content .labs-intro {
  padding-bottom: 0px;
}
#content .labs-details {
  background: url("../images/acceleration-labs.jpg") no-repeat right top;
  background-size: 50% auto;
  padding-right: 50%;
}
#content .lab-examples table {
  border: 30px solid #ebebeb !important;
  background: #ebebeb;
}
#content .lab-examples table td {
  padding: 10px 10px 10px 10px;
  font-weight: 700;
  font-family: inherit;
}
#content .lab-examples table td img {
  margin: 0px 10px 30px 0px;
}
#content .labs {
  background: url("../images/green-leaves.jpg") no-repeat center center;
  background-size: cover;
  color: #ffffff;
}
#content .labs .lab {
  background: #ebebeb;
  color: #000000;
  padding: 40px 50px 40px 150px;
  margin: 0 0 60px;
  position: relative;
}
#content .labs .lab .violator {
  position: absolute;
  left: -60px;
  float: left;
}
#content .labs .lab h3 {
  margin-top: 0px;
}
#content .field-projects {
  background: transparent url("../images/field-projects-venn.png") no-repeat center top;
  margin-top: -70px;
  padding-top: 185px;
}
#content .crowd-innovation-sprints {
  background: url("../images/crowd-innovation-sprints.jpg") no-repeat right bottom;
  background-size: 50% auto;
}
#content .crowd-innovation-sprints .block-content {
  padding-right: 45%;
}
#content .design-thinker-conference {
  background: url("../images/design-thinker-conference.jpg") no-repeat right center;
  background-size: 50% auto;
}
#content .design-thinker-conference .block-content {
  padding-right: 55%;
}
#content .graphic-recording {
  background: url("../images/graphic-recording.jpg") no-repeat center center;
  background-size: cover;
  padding: 350px 8% 30px;
}
#content .graphic-recording .block-content {
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 20px 55px;
}
#content .your-next-event {
  background: url("../images/your-next-event.jpg") no-repeat right center;
  background-size: 45% auto;
}
#content .your-next-event .block-content {
  padding-right: 50%;
}
#content .contact {
  background: url("../images/grey.gif") repeat-x center 180px;
  padding: 20px 13% 40px;
}
#content .contact .block-content p,
#content .contact .block-content a,
#content .contact .block-content h2,
#content .contact .block-content h3,
#content .contact .block-content h4 {
  font-family: 'Roboto Slab', serif !important;
  font-weight: 400 !important;
  font-weight: 700;
  font-family: inherit;
  font-size: 30px;
  color: #000000;
  text-decoration: none;
}
#content .about-name .block-content {
  padding-right: 55%;
  background: url("../images/treehouse-logo.svg") no-repeat right center;
  background-size: 40% auto;
}
#content .values {
  background: url("../images/dandelions.jpg") no-repeat center center;
  background-size: cover;
  color: #ffffff;
}
#content .values .block-content table {
  background: rgba(0, 0, 0, 0.6);
}
#content .values .block-content table td {
  padding: 30px;
}
#content .values .block-content h2 {
  text-align: center;
}
#content .values .block-content h3 {
  margin: 0 0 3px;
  color: #ffffff;
}
#content .values .block-content p {
  color: #ffffff;
  margin: 0 0 12px;
}
@media (min-width: 1400px) {
  #content .about-name .block-content {
    background: url("../images/treehouse-logo.svg") no-repeat right center;
    background-size: auto 100%;
  }
}
@media (max-width: 1079px) {
  #content {
    margin-left: 180px;
  }
}
@media (max-width: 720px) {
  #content {
    margin-left: 0px;
  }
  #content .field-name-body {
    margin: 20px 5%;
  }
  #content .block-webform {
    margin: 0px 5% 40px;
  }
  #content .block-webform input {
    max-width: 100%;
  }
}
.page-node-21 #main,
.page-node-25 #main,
.page-node-31 #main,
.page-node-32 #main,
.page-node-33 #main {
  background: #ffffff url("../images/tree-rings-top-left.jpg") no-repeat 240px top;
}
#content-lower {
  width: auto;
  margin-left: 240px;
  clear: both;
}
#content-lower .about-detail {
  background: url("../images/bg-about-block.jpg") no-repeat center center;
  background-size: cover;
  padding: 50px 6%;
}
#content-lower .about-detail h2.block-title {
  text-align: left;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  padding: 12px 2%;
  font-size: 30px;
  color: #ffffff;
}
#content-lower .about-detail h3,
#content-lower .about-detail h4 {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 12px;
}
#content-lower .about-detail .third {
  width: 29.333%;
  margin: 30px 2% 0 2%;
  float: left;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
#content-lower .about-detail .third p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #aaaaaa;
}
@media (max-width: 720px) {
  #content-lower .about-detail h2.block-title {
    font-size: 18px;
    letter-spacing: 0px;
    padding: 10px;
    display: block;
    margin-bottom: 0px;
  }
  #content-lower .about-detail .third {
    width: 100%;
    float: none;
  }
}
#content-lower #block-views-nodequeue-3-block {
  background: #3d3d3d;
  padding: 30px 0 80px;
  text-align: center;
}
#content-lower #block-views-nodequeue-3-block h2.block-title {
  color: #ffffff;
  text-align: center;
  margin: 0 0 15px;
}
#content-lower #block-views-nodequeue-3-block .view-content {
  width: 500px;
  margin: 0 auto;
}
#content-lower #block-views-nodequeue-3-block .view-content .views-row {
  padding: 10px;
  background: #fff;
  height: 480px;
  width: 480px;
  vertical-align: center;
}
#content-lower #block-views-nodequeue-3-block .views-slideshow-controls-top {
  margin-bottom: 10px;
}
#content-lower #block-views-nodequeue-3-block .views-slideshow-controls-top a {
  color: #aaaaaa;
  background: #555;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 20px;
  height: 20px;
  padding: 0 10px;
  display: inline-block;
}
#content-lower #block-views-nodequeue-3-block .views-slideshow-controls-top a:hover {
  color: #ffffff;
}
#content-lower .extended-family {
  margin: 0 4%;
}
#content-lower .extended-family.mobile {
  display: none;
}
#content-lower .extended-family h2.block-title {
  text-align: left;
  margin: 20px 4%;
  padding-bottom: 10px;
  border-bottom: 1px solid #aaaaaa;
}
#content-lower .extended-family table {
  border: 0px !important;
  width: 100%;
}
#content-lower .extended-family table td {
  width: 50%;
  text-align: center;
  color: #3d3d3d;
  vertical-align: top;
  padding: 0 4%;
}
#content-lower .extended-family table td p {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}
#content-lower .extended-family table td p a {
  font-weight: 700;
  font-family: inherit;
  color: #47a9e1;
}
@media (max-width: 1079px) {
  #content-lower {
    margin-left: 180px;
  }
}
@media (max-width: 720px) {
  #content-lower {
    margin-left: 0px;
  }
  #content-lower .extended-family.desktop {
    display: none;
  }
  #content-lower .extended-family.mobile {
    display: block;
  }
}
.services-overview {
  min-height: 500px;
  height: auto;
  padding: 40px 8% 60px;
  background: #3d3d3d;
}
.services-overview.main {
  padding-top: 0px;
}
.services-overview h2.block-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0 0 20px;
  color: #aaaaaa;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
}
.services-overview table {
  border: 0px;
  border-spacing: 40px;
  border-collapse: separate;
  margin: 0 0 40px;
}
.services-overview table td {
  padding: 0px;
  vertical-align: top;
  width: 33%;
  text-align: left;
  color: #ffffff;
}
.services-overview table td h3 {
  margin-bottom: 6px;
  text-align: left;
  letter-spacing: 0px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.services-overview table td h4 {
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 24px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.services-overview table td p {
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  color: #aaaaaa;
  margin: 0 0 6px;
}
.services-overview table td ul {
  margin: 30px 0 0;
  padding: 0px;
  border-top: 1px solid #555555;
}
.services-overview table td ul li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  border-bottom: 1px solid #555555;
  padding: 12px 0;
  margin: 0px;
}
.services-overview table td ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.services-overview.mobile {
  display: none;
  padding: 25px 0;
}
.services-overview .row {
  clear: both;
  padding: 0 0 20px 0;
  margin: 0 0 20px;
}
.services-overview .row h2,
.services-overview .row h3,
.services-overview .row h4 {
  color: #ffffff;
  font-size: 28px;
  line-height: 30px;
  margin: 0 0 8px;
  padding-top: 15px;
}
.services-overview .row p {
  color: #aaaaaa;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 15px;
}
.services-overview .row .ui-icon {
  display: none;
}
.services-overview .row .icon {
  margin: 0 30px 0 0;
  float: left;
}
.services-overview .row .icon.fr {
  margin: 0 0 0 30px;
  float: right;
}
.services-overview .row ul li a {
  color: #ffffff;
}
.services-overview .row ul li a:visited {
  color: #ffffff;
}
@media (max-width: 720px) {
  .services-overview {
    padding: 15px 5% 30px;
  }
  .services-overview.desktop {
    display: none;
  }
  .services-overview.mobile {
    display: block;
  }
  .services-overview .row {
    margin: 0px;
  }
  .services-overview .row h2,
  .services-overview .row h3,
  .services-overview .row h4 {
    font-size: 18px;
    line-height: 23px;
  }
  .services-overview .row p {
    font-size: 12px;
    line-height: 15px;
  }
  .services-overview .row .icon {
    display: none;
  }
  .services-overview .row .button {
    font-size: 13px;
    padding: 6px 12px;
  }
}
.one-sidebar #content #sidebar {
  float: right;
  width: 22%;
  margin: 0;
}
.one-sidebar #content #sidebar .region-sidebar-second {
  margin-top: 100px;
}
.one-sidebar #content #sidebar .region-sidebar-second h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
}
.one-sidebar #content #sidebar .region-sidebar-second .view-blog {
  border-top: 1px solid #ccc;
}
.one-sidebar #content #sidebar .region-sidebar-second .view-blog .blog-article-link {
  border-bottom: 1px solid #ccc;
  padding: 14px 14px 14px 0;
  color: #000000;
  display: block;
  margin-bottom: 0px;
  line-height: 18px;
}
.one-sidebar #content #sidebar .region-sidebar-second .view-blog .blog-article-link .article-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
.one-sidebar #content #sidebar .region-sidebar-second .view-blog .blog-article-link .article-meta {
  font-size: 12px;
  color: #3d3d3d;
  font-style: italic;
}
.one-sidebar #content #sidebar .region-sidebar-second .view-footer a,
.one-sidebar #content #sidebar .region-sidebar-second .view-footer a:visited {
  color: #47a9e1;
  font-weight: 700;
  font-family: inherit;
}
.one-sidebar #content article {
  clear: none !important;
}
.one-sidebar #content article .field-name-body {
  margin: 60px 30% 60px 8%;
}
.one-sidebar #content article:after {
  display: none;
}
.one-sidebar #content .node-case-study {
  margin-right: 37%;
}
.one-sidebar #content .node-page {
  margin-right: 37%;
}
@media (max-width: 720px) {
  .one-sidebar #content .node-article,
  .one-sidebar #content .node-case-study,
  .one-sidebar #content .node-page {
    margin-right: 5%;
  }
}
.icon.small {
  width: 80px;
  height: 80px;
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon.medium {
  width: 170px;
  height: 170px;
  background-size: 170px 170px;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon.knowledge-yellow {
  background-image: url("../images/icons/knowledge-yellow.svg");
}
.icon.knowledge-orange {
  background-image: url("../images/icons/knowledge-orange.svg");
}
.icon.knowledge-red {
  background-image: url("../images/icons/knowledge-red.svg");
}
.icon.knowledge-blue {
  background-image: url("../images/icons/knowledge-blue.svg");
}
.icon.knowledge-aqua {
  background-image: url("../images/icons/knowledge-aqua.svg");
}
.icon.knowledge-magenta {
  background-image: url("../images/icons/knowledge-magenta.svg");
}
.icon.knowledge-green {
  background-image: url("../images/icons/knowledge-green.svg");
}
.icon.empathise-yellow {
  background-image: url("../images/icons/empathise-yellow.svg");
}
.icon.empathise-orange {
  background-image: url("../images/icons/empathise-orange.svg");
}
.icon.empathise-red {
  background-image: url("../images/icons/empathise-red.svg");
}
.icon.empathise-blue {
  background-image: url("../images/icons/empathise-blue.svg");
}
.icon.empathise-aqua {
  background-image: url("../images/icons/empathise-aqua.svg");
}
.icon.empathise-magenta {
  background-image: url("../images/icons/empathise-magenta.svg");
}
.icon.empathise-green {
  background-image: url("../images/icons/empathise-green.svg");
}
.icon.future-yellow {
  background-image: url("../images/icons/future-yellow.svg");
}
.icon.future-orange {
  background-image: url("../images/icons/future-orange.svg");
}
.icon.future-red {
  background-image: url("../images/icons/future-red.svg");
}
.icon.future-blue {
  background-image: url("../images/icons/future-blue.svg");
}
.icon.future-aqua {
  background-image: url("../images/icons/future-aqua.svg");
}
.icon.future-magenta {
  background-image: url("../images/icons/future-magenta.svg");
}
.icon.future-green {
  background-image: url("../images/icons/future-green.svg");
}
.icon.ecosystem-yellow {
  background-image: url("../images/icons/ecosystem-yellow.svg");
}
.icon.ecosystem-orange {
  background-image: url("../images/icons/ecosystem-orange.svg");
}
.icon.ecosystem-red {
  background-image: url("../images/icons/ecosystem-red.svg");
}
.icon.ecosystem-blue {
  background-image: url("../images/icons/ecosystem-blue.svg");
}
.icon.ecosystem-aqua {
  background-image: url("../images/icons/ecosystem-aqua.svg");
}
.icon.ecosystem-magenta {
  background-image: url("../images/icons/ecosystem-magenta.svg");
}
.icon.ecosystem-green {
  background-image: url("../images/icons/ecosystem-green.svg");
}
.icon.learning-yellow {
  background-image: url("../images/icons/learning-yellow.svg");
}
.icon.learning-orange {
  background-image: url("../images/icons/learning-orange.svg");
}
.icon.learning-red {
  background-image: url("../images/icons/learning-red.svg");
}
.icon.learning-blue {
  background-image: url("../images/icons/learning-blue.svg");
}
.icon.learning-aqua {
  background-image: url("../images/icons/learning-aqua.svg");
}
.icon.learning-magenta {
  background-image: url("../images/icons/learning-magenta.svg");
}
.icon.learning-green {
  background-image: url("../images/icons/learning-green.svg");
}
.icon.leadership-yellow {
  background-image: url("../images/icons/leadership-yellow.svg");
}
.icon.leadership-orange {
  background-image: url("../images/icons/leadership-orange.svg");
}
.icon.leadership-red {
  background-image: url("../images/icons/leadership-red.svg");
}
.icon.leadership-blue {
  background-image: url("../images/icons/leadership-blue.svg");
}
.icon.leadership-aqua {
  background-image: url("../images/icons/leadership-aqua.svg");
}
.icon.leadership-magenta {
  background-image: url("../images/icons/leadership-magenta.svg");
}
.icon.leadership-green {
  background-image: url("../images/icons/leadership-green.svg");
}
.icon.recording-yellow {
  background-image: url("../images/icons/recording-yellow.svg");
}
.icon.recording-orange {
  background-image: url("../images/icons/recording-orange.svg");
}
.icon.recording-red {
  background-image: url("../images/icons/recording-red.svg");
}
.icon.recording-blue {
  background-image: url("../images/icons/recording-blue.svg");
}
.icon.recording-aqua {
  background-image: url("../images/icons/recording-aqua.svg");
}
.icon.recording-magenta {
  background-image: url("../images/icons/recording-magenta.svg");
}
.icon.recording-green {
  background-image: url("../images/icons/recording-green.svg");
}
.icon.idea-yellow {
  background-image: url("../images/icons/idea-yellow.svg");
}
.icon.idea-orange {
  background-image: url("../images/icons/idea-orange.svg");
}
.icon.idea-red {
  background-image: url("../images/icons/idea-red.svg");
}
.icon.idea-blue {
  background-image: url("../images/icons/idea-blue.svg");
}
.icon.idea-aqua {
  background-image: url("../images/icons/idea-aqua.svg");
}
.icon.idea-magenta {
  background-image: url("../images/icons/idea-magenta.svg");
}
.icon.idea-green {
  background-image: url("../images/icons/idea-green.svg");
}
.icon.sprint-yellow {
  background-image: url("../images/icons/sprint-yellow.svg");
}
.icon.sprint-orange {
  background-image: url("../images/icons/sprint-orange.svg");
}
.icon.sprint-red {
  background-image: url("../images/icons/sprint-red.svg");
}
.icon.sprint-blue {
  background-image: url("../images/icons/sprint-blue.svg");
}
.icon.sprint-aqua {
  background-image: url("../images/icons/sprint-aqua.svg");
}
.icon.sprint-magenta {
  background-image: url("../images/icons/sprint-magenta.svg");
}
.icon.sprint-green {
  background-image: url("../images/icons/sprint-green.svg");
}
a.button,
.button {
  -webkit-appearance: none;
  color: #fff;
  background: #47a9e1;
  text-transform: uppercase;
  padding: 9px 16px;
  font-size: 13px;
  display: inline-block;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: none;
}
a.button.bg-green,
.button.bg-green,
a.button.green,
.button.green {
  color: #fff;
  background: #82af35;
}
a.button.bg-aqua,
.button.bg-aqua,
a.button.aqua,
.button.aqua {
  color: #fff;
  background: #44b7a9;
}
a.button.bg-magenta,
.button.bg-magenta,
a.button.magenta,
.button.magenta {
  color: #fff;
  background: #cb4d83;
}
a.button.bg-red,
.button.bg-red,
a.button.red,
.button.red {
  color: #fff;
  background: #c63936;
}
a.button.bg-orange,
.button.bg-orange,
a.button.orange,
.button.orange {
  color: #fff;
  background: #ef7436;
}
a.button.bg-yellow,
.button.bg-yellow,
a.button.yellow,
.button.yellow {
  color: #000;
  background: #f1c736;
}
a.button.bg-black,
.button.bg-black,
a.button.black,
.button.black {
  background: #000;
  background: #fff;
  color: #3d3d3d;
}
a.button.bg-grey,
.button.bg-grey,
a.button.grey,
.button.grey {
  background: #3d3d3d;
  background: #fff;
  color: #3d3d3d;
}
a.button.bg-white,
.button.bg-white,
a.button.white,
.button.white {
  background: #fff;
  color: #3d3d3d;
}
a.button.hollow,
.button.hollow {
  border: 1px solid #555555;
  background: #fff;
  color: #555555;
  font-size: 12px;
}
.design-thinking-academy {
  padding: 50px 10%;
  background: transparent url("../images/green-leaves.jpg") no-repeat center center;
  background-size: cover;
}
.design-thinking-academy.mobile {
  display: none;
  padding: 20px 4%;
}
.design-thinking-academy.mobile h2 {
  text-align: left;
  margin-bottom: 12px;
}
.design-thinking-academy.mobile p {
  padding: 0px;
  font-size: 12px;
  line-height: 17px;
  text-align: left;
}
.design-thinking-academy.mobile .row {
  padding: 15px;
  margin-bottom: 5px;
  background: #fff;
}
.design-thinking-academy.mobile .row h3 {
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 10px;
}
.design-thinking-academy.mobile .row p {
  color: #555555;
  margin: 0 0 12px;
  font-size: 12px;
  line-height: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.design-thinking-academy.mobile .row ul,
.design-thinking-academy.mobile .row ol {
  margin: 0 0 12px;
  padding: 0px;
}
.design-thinking-academy.mobile .row ul li,
.design-thinking-academy.mobile .row ol li {
  margin: 0 0 4px 15px;
  font-size: 12px;
  line-height: 17px;
  color: #555555;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.design-thinking-academy h2 {
  color: #ffffff;
  text-align: center;
}
.design-thinking-academy p {
  color: #ffffff;
  text-align: center;
  padding: 0 100px;
}
.design-thinking-academy table {
  border-collapse: separate;
  border-spacing: 15px;
}
.design-thinking-academy table td {
  padding: 30px 40px;
  text-align: left;
  vertical-align: top;
  background: #fff;
  width: 50%;
}
.design-thinking-academy table td p {
  margin: 0 0 12px;
  padding: 0px;
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  color: #3d3d3d;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.design-thinking-academy table td p.meta {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}
.design-thinking-academy table td ul,
.design-thinking-academy table td ol {
  margin: 0 0 12px;
  padding: 0px;
}
.design-thinking-academy table td ul li,
.design-thinking-academy table td ol li {
  margin: 0 0 4px 15px;
  font-size: 13px;
  color: #3d3d3d;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.design-thinking-academy table td strong {
  font-size: 13px;
  line-height: 16px;
}
.design-thinking-academy table td h3 {
  font-size: 22px;
  margin: 0 0 10px;
}
.design-thinking-academy table td .button {
  margin-top: 15px;
  padding: 7px 16px;
}
@media (max-width: 720px) {
  .design-thinking-academy.desktop {
    display: none;
  }
  .design-thinking-academy.mobile {
    display: block;
  }
}
.team-members {
  padding: 0 10%;
}
.team-members h2.block-title {
  margin: 20px 4%;
  text-align: left;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 10px;
}
.team-members table {
  width: 100%;
}
.team-members td {
  vertical-align: top;
  width: 50%;
  padding: 0 4%;
}
.team-members .views-field-field-image {
  float: left;
}
.team-members .views-field-title {
  padding: 50px 0 70px 150px;
}
.team-members .views-field-title .field-content {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.team-members .views-field-body {
  font-size: 14px;
  line-height: 19px;
  margin: 0 0 40px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.team-members .views-field-body p {
  margin: 0 0 10px;
}
.team-members.mobile {
  display: none;
}
.team-members.mobile .views-field-field-image {
  width: 100px;
}
.team-members.mobile .views-field-field-image img {
  width: 100%;
  height: auto;
}
.team-members.mobile .views-field-title {
  padding: 40px 5% 30px 110px;
}
.team-members.mobile .views-field-body {
  margin: 0 0 30px;
}
@media (max-width: 720px) {
  .team-members {
    padding: 0 5% 0 5%;
  }
  .team-members.desktop {
    display: none;
  }
  .team-members.mobile {
    display: block;
  }
}
.teaser-grid {
  padding: 40px 0;
}
.teaser-grid h2.block-title {
  margin: 0px 5% 10px;
  padding-top: 40px;
  text-align: center;
}
.teaser-grid .view-content {
  clear: both;
  padding: 0 7%;
}
.teaser-grid .views-row {
  width: 31.33%;
  height: 300px;
  background: #fff;
  margin: 0 1% 20px;
  float: left;
}
.teaser-grid .teaser-image {
  width: 100%;
  height: 180px;
  display: block;
  margin-bottom: 0px;
  margin-bottom: 15px;
}
.teaser-grid .title {
  margin: 0 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
.teaser-grid .subtitle {
  margin: 0 20px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.teaser-grid .meta {
  color: #555555;
  font-size: 11px;
  margin: 0 20px 20px;
}
.teaser-grid .excerpt {
  margin: 0 20px 30px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
@media (max-width: 720px) {
  .teaser-grid {
    display: none;
  }
}
.teaser-grid.blog-teasers .views-row {
  height: 400px;
}
.mobile-teasers {
  display: none;
}
.mobile-teasers h2.block-title {
  margin: 30px 2% 10px;
}
.mobile-teasers .view-content {
  padding: 0 2%;
}
.mobile-teasers .views-row {
  background: #fff;
  height: 120px;
  margin-bottom: 5px;
}
.mobile-teasers .teaser-image {
  width: 100px;
  height: 120px;
  float: left;
}
.mobile-teasers .title {
  margin: 0px 15px 15px 115px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding-top: 15px;
}
.mobile-teasers .subtitle {
  margin: 0px 15px 15px 115px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.mobile-teasers .meta {
  display: none;
  color: #555555;
  font-size: 11px;
  margin: 0px 0px 15px 115px;
  line-height: 13px;
}
.mobile-teasers .excerpt {
  margin: 0px 15px 15px 115px;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}
@media (max-width: 720px) {
  .mobile-teasers {
    display: block;
  }
}
#footer {
  width: auto;
  margin-left: 240px;
  color: #aaaaaa;
  background: url("../images/bg-footer.png") no-repeat right center;
}
#footer .block-menu-block {
  margin: 0 8%;
  padding-top: 40px;
}
#footer .block-menu-block ul {
  margin: 0px;
  padding: 0px;
}
#footer .block-menu-block ul li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  float: left;
  width: 22%;
  margin: 0 1.5% 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#footer .block-menu-block ul li a {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: block;
  margin-bottom: 0px;
  margin: 0 0 8px;
  font-size: 13px;
}
#footer .block-menu-block ul li.is-expanded {
  margin-bottom: 30px;
}
#footer .block-menu-block ul li.is-expanded ul li {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-bottom: none;
}
#footer .block-menu-block ul li.is-expanded ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  display: block;
  margin-bottom: 0px;
  color: #999;
  margin: 0 0 10px;
}
#footer .block-menu-block ul li.is-expanded ul li.is-expanded {
  width: 100%;
  height: auto;
}
#footer .block-menu-block ul li.is-expanded ul li.is-expanded ul {
  display: none;
}
#footer .copyright {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 10px 0;
  margin: 0px;
  font-size: 12px;
  clear: both;
  color: #555555;
}
#footer .copyright p {
  color: #999;
  font-size: 11px;
  line-height: 16px;
}
@media (max-width: 1079px) {
  #footer {
    margin-left: 180px;
  }
}
@media (max-width: 720px) {
  #footer {
    margin-left: 0px;
  }
  #footer .block-menu-block {
    display: none;
  }
}
.profile {
  padding: 30px;
}
#user-login {
  padding: 30px;
}
.form-text {
  background: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  line-height: 16px;
  max-width: 400px;
}
.form-submit,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
  color: #fff;
  background: #47a9e1;
  text-transform: uppercase;
  padding: 9px 16px;
  font-size: 13px;
  display: inline-block;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: none;
}
.form-submit.bg-green,
input[type="button"].bg-green,
input[type="reset"].bg-green,
input[type="submit"].bg-green,
.form-submit.green,
input[type="button"].green,
input[type="reset"].green,
input[type="submit"].green {
  color: #fff;
  background: #82af35;
}
.form-submit.bg-aqua,
input[type="button"].bg-aqua,
input[type="reset"].bg-aqua,
input[type="submit"].bg-aqua,
.form-submit.aqua,
input[type="button"].aqua,
input[type="reset"].aqua,
input[type="submit"].aqua {
  color: #fff;
  background: #44b7a9;
}
.form-submit.bg-magenta,
input[type="button"].bg-magenta,
input[type="reset"].bg-magenta,
input[type="submit"].bg-magenta,
.form-submit.magenta,
input[type="button"].magenta,
input[type="reset"].magenta,
input[type="submit"].magenta {
  color: #fff;
  background: #cb4d83;
}
.form-submit.bg-red,
input[type="button"].bg-red,
input[type="reset"].bg-red,
input[type="submit"].bg-red,
.form-submit.red,
input[type="button"].red,
input[type="reset"].red,
input[type="submit"].red {
  color: #fff;
  background: #c63936;
}
.form-submit.bg-orange,
input[type="button"].bg-orange,
input[type="reset"].bg-orange,
input[type="submit"].bg-orange,
.form-submit.orange,
input[type="button"].orange,
input[type="reset"].orange,
input[type="submit"].orange {
  color: #fff;
  background: #ef7436;
}
.form-submit.bg-yellow,
input[type="button"].bg-yellow,
input[type="reset"].bg-yellow,
input[type="submit"].bg-yellow,
.form-submit.yellow,
input[type="button"].yellow,
input[type="reset"].yellow,
input[type="submit"].yellow {
  color: #000;
  background: #f1c736;
}
.form-submit.bg-black,
input[type="button"].bg-black,
input[type="reset"].bg-black,
input[type="submit"].bg-black,
.form-submit.black,
input[type="button"].black,
input[type="reset"].black,
input[type="submit"].black {
  background: #000;
  background: #fff;
  color: #3d3d3d;
}
.form-submit.bg-grey,
input[type="button"].bg-grey,
input[type="reset"].bg-grey,
input[type="submit"].bg-grey,
.form-submit.grey,
input[type="button"].grey,
input[type="reset"].grey,
input[type="submit"].grey {
  background: #3d3d3d;
  background: #fff;
  color: #3d3d3d;
}
.form-submit.bg-white,
input[type="button"].bg-white,
input[type="reset"].bg-white,
input[type="submit"].bg-white,
.form-submit.white,
input[type="button"].white,
input[type="reset"].white,
input[type="submit"].white {
  background: #fff;
  color: #3d3d3d;
}
.form-submit.hollow,
input[type="button"].hollow,
input[type="reset"].hollow,
input[type="submit"].hollow {
  border: 1px solid #555555;
  background: #fff;
  color: #555555;
  font-size: 12px;
}
