@import "globals";

// Basics

h1 { .size(42px); .lh(46px); .slab; .ls(-1px); 
	@media (max-width:1120px) { .size(36px); .lh(40px); }
}
h2 { .size(30px); .lh(34px); .slab; .ls(-1px);
	@media (max-width:1120px) { .size(26px); .lh(30px); }
}
h3 { .size(22px); .lh(26px); .slab; .ls(0px);
	@media (max-width:1120px) { .size(20px); .lh(24px); }
}

body { background: @dkgrey2; }
.block-block { .mb(0px); }
.block { .mb(0px); }
.tabs-primary { .m(0px); .p(20px 0 10px); }
#page { .w100; .h(100%); }


// Navigation

#navigation { .w(240px); .h(100%); .fix; z-index: 100; top: 0px; bottom: 0px; background: #fff; overflow-x: hidden; overflow-y: auto; 
	.region-navigation { .h(auto); }
	#logo { .w(240px); .h(240px); background: url("../images/treehouse-logo.svg") no-repeat center center; background-size: 150px 150px; .block; .m0; }
	.mobile-menu { .hide; }
	#mobile-menu-trigger { .h(40px); .w(40px); .tc; .abs; left: 2%; top: 0; z-index: 99; background: url("../images/mobile-menu.svg") no-repeat center center; background-size: 30px 30px; }
	#mobile-home-link { .w(100%); .roboto-bold; .ls(2px); .upper; .size(11px); .lh(40px); .tc; .black; .block; }
	.block-menu-block { .w(100%); .p0; .m0; border-top: 1px solid #ddd; 
		ul.menu { .m0; .p0;
			li { .list-none; .p0; .block; .fn; .m0; border-bottom: 1px solid #ddd;
				a { .roboto-light; .upper; .ls(1px); .size(12px); .lh(12px); .grey; .block; .p(16px 20px); 
					&:visited { .black; }
					&:hover { .black; }
					&.active-trail { .black;  
						&.services, &.service { border-left: 10px solid @blue; .p(16px 20px 16px 10px); }
						&.case-studies { border-left: 10px solid @aqua; .p(16px 20px 16px 10px); }
						&.blog { border-left: 10px solid @magenta; .p(16px 20px 16px 10px); }
						&.team { border-left: 10px solid @red; .p(16px 20px 16px 10px); }
						&.about { border-left: 10px solid @orange; .p(16px 20px 16px 10px); }
						&.contact { border-left: 10px solid @green; .p(16px 20px 16px 10px); }
					}
				}
				ul.menu { .pb(15px); 
					li { border-bottom: none;
						a { .roboto-light; .grey; .size(11px); .lh(11px); .p(3px 20px); .tt-none; 
							&.active { }
						}
						&:hover { .black; }
					}
				}
			}
		}
	}
	.social-contact { .m(30px 20px 0px); .grey; .size(12px); .w(180px); 
		p { .mt(0px); }
		a { .grey; 
			&:visited { .grey; }
		}
	}
	@media (max-width: 1079px) { .w(180px); 
		#logo { .w(150px); .h(150px); background-size: 150px 150px; .m(15px); }
		#block-system-main-menu { .w(150px); }
		.social-contact { .w(150px); }
	}
	@media (max-width: 800px) { .rel; .w(100%); .h(auto); bottom: auto; top: 0px; 
		#logo { .hide; } 
		.mobile-menu { .show; }
		#block-system-main-menu { .hide; .w(auto); .m(10px 10%); .h(130px); .p0; border-bottom: none; 
			ul.menu {
				li { .w50; .fl; border-bottom: 1px solid #d6d6d6; 
					a { .p(10px 0); }
					ul.menu { .hide; } 
				}
			}
		}
		.social-contact { .hide; }
	}
	p { .m0; }
}

.logged-in #navigation #logo { .mt(60px); }



// Header Region

#header { .rel; z-index: 0; top: 0; .w100; overflow: hidden;
	.region-header { .pl(240px); .w(auto); .rel; 
		@media (max-width:1079px) { .pl(180px); }
	}
	.homepage-banner { .rel; z-index: 1; .w(auto); .h(800px); background: #fff url("../images/hot-air-balloon.jpg") no-repeat right top; background-size: 100% auto; overflow: hidden; 
		.block-content { .p(200px 0 0 50px); .w(50%); }
		p { .size(18px); .lh(26px); .m(0 0 14px); .roboto-light; }
		h2 { .size(42px); .lh(48px); .mb(6px); }
		@media (max-width:1079px) {
			.ml(180px);
		}
		@media (max-width:800px) { 	.ml(0px); top: auto; .h(auto);
			.block-content { .p(85px 20px 80px 20px); .w(auto); 
				h2 { .size(22px); .lh(24px); .m(0 40% 20px 0); }
				p { .size(13px); .lh(16px); }
			}
		}
	}
	.homepage-logos { .rel; top: -180px; z-index: 10; .tc; .ltgrey; .w(auto); background: rgba(0,0,0,0.8); .p(12px 30px 0); .m(0 50px); 
		p { .m(10px 0); }
	}
}
#block-views-header-image-block,
#block-views-header-image-block-1,
#block-views-header-image-block-2,
#block-views-header-image-block-3 {
	.header-image { .w100; .p(150px 0 20px); .m0; 
		.header-content { .p(36px 5%); .m(0 15%); .tc; }
		h1 { .m(6px 0); }
		p { .size(18px); .m(0px); }
	}
	@media (max-width: 800px) { .pl(0px);
		.header-image { .p(50px 0 20px);
			.header-content { .p(15px); .mr(30%); }
			h1 { .size(24px); .lh(27px); }
			p { .size(13px); .lh(15px); }
		}
	}
}


// Front Page Styles

.front {
	#header { .h(800px); }
	h1#page-title { .hide; }
	#content { background: #e7e2dc url("../images/dandelions.jpg") no-repeat center center; background-size: cover;
		.node-page { .m0; }
		article { .white; .tc; background: url("../images/arrow-white-down.png") no-repeat center top;
			.field-name-body { .m0; .p(70px 15%); /*background: rgba(0,0,0,0.7);*/ }
			h2, h3 { .white; .size(40px); .lh(43px); }
			p { .mb(36px); .white; .roboto-light; }
			.button { .bg-red; .inline-block; color: #fff !important; .p(10px 20px); .fn; }
		}
	}
	#content-lower { background: #e7e2dc url("../images/fog-mountains.jpg") no-repeat center bottom; background-size: auto 70%; }
	
	.services { 
		.block-content { .p(0 3% 50px); }
		table { border-spacing: 15px; border-collapse: separate; }
		td { background: #fff; .vtop; .p0; .w(33.333%); .p(0 0 130px); }
		.icon1 { background: #fff url("../images/icons/knowledge-magenta.svg") no-repeat 95% 95%; background-size: 130px 130px; }
		.icon2 { background: #fff url("../images/icons/idea-magenta.svg") no-repeat 95% 95%; background-size: 130px 130px; }
		.icon3 { background: #fff url("../images/icons/future-magenta.svg") no-repeat 95% 95%; background-size: 130px 130px; border-bottom: none; }
		a { .black; .td-none; }
		h3 { .m(30px 30px 12px); .slab; }
		p { .m(0 30px 12px); .size(14px); .lh(18px); }
		@media (max-width: 1200px) {
			p { .size(14px); .lh(19px); }
		}
		.button { .bg-grey; .white; .p(8px 16px); }
	}
	.services-mobile { .hide; .w100; .fn; background: #fff; 
		.block-content { .p(15px); }
		.service { border-bottom: 1px solid #ccc; .p(15px 135px 15px 0); 
			&.icon1 { background: url("../images/icons/knowledge-green.svg") no-repeat right center; background-size: 120px 120px; }
			&.icon2 { background: url("../images/icons/idea-orange.svg") no-repeat right center; background-size: 120px 120px; }
			&.icon3 { background: url("../images/icons/future-aqua.svg") no-repeat right center; background-size: 120px 120px; border-bottom: none; }	
		}
		a { .black; .td-none; }
		h3, h3 a { .mb(10px); .slab; }
		p, p a { .m(0 0 10px); }
		@media (max-width: 1200px) {
			p { .size(12px); .lh(15px); }
		}			
	}
	.case-studies { .p(50px 0 20px); .mb(0px);
		h2.block-title { .fl; .m(0px 0 30px 50px); .rel; z-index: 8; }
	}
	.case-studies-mobile h2.block-title { .m(40px 2% 10px); .white; .ls(1px); }
	.quote { background: rgba(68,183,169,0.8); .cb; .m(70px 15% 50px);
		.block-content { .tc; /*background: url("../images/speech-bubble-white20.svg") no-repeat center center; background-size: 400px 320px;*/ .white; }
		blockquote { .size(26px); .lh(31px); .p(30px 50px);
			span { .block; .w(250px); .size(18px); .m(15px auto 0); .pt(15px); border-top: 1px solid #fff; }
		}
	}
	.feature-video { /*background: #3d3d3d;*/ .mb(0px); min-height: 600px; .cb; .p(40px 0 0);
		.block-content { .w(580px); .auto; .white; }
		iframe { .m(0 10px); }
		h2 { .white; .tc; .m(0 0 20px); }
		.half { .w(270px); .m(0 10px); .fl; .pt(30px); }
	}
	.blog-homepage { .p(130px 0 80px); .cb; .mb(0px);
		h2.block-title { .white; .tc; .m(0 0 40px); }
	}
	.blog-mobile-homepage h2.block-title { .white; }
	#footer { .cb; .rel; }
	@media (max-width:800px) { 
		.homepage-logos { .rel; left: auto; top: 0px; .m(0px); .h(auto); .w(100%); background: url("../images/box-dkgrey.svg") no-repeat center bottom; background-size: 200% auto;
			.block-content { .p(15px 15px 40px); }
			p { .size(13px); .lh(15px); .m(0 0 10px); }
			img { max-width: 100%; .h(auto); }
		}
		article.node-3 { .p(40px 15px); background: url("../images/wood-light.jpg") no-repeat center center; background-size: auto 100%; margin-top: -30px !important;
			h2, h3 { .size(24px); .lh(28px); }
			p { .mb(25px); .roboto-med; .size(12px); .lh(15px); }
		}
		.services { .hide; }
		.services-mobile { .show; }
		.quote { .m(40px 10%); 
			blockquote { .size(18px); .lh(20px); .p(20px); .m0; 
				p { .m0; }
				span { .w(auto); .size(11px); }
			}
		}
		.feature-video { .hide; }
	}
}


// Breadcrumb

.breadcrumb { .p(10px); 
	li { .size(10px); .roboto-light; .em; .upper; 
		a { .blue; }
	}
}
.page-node-1 .breadcrumb,
.page-node-31 .breadcrumb,
.page-node-32 .breadcrumb,
.page-node-33 .breadcrumb { background: @dkgrey; color: #666;
	li a { .ltgrey; }
}

// Main content styles

#main { .w100; .rel; z-index: 0; background: @xltgrey; }

#content { .w(auto); .ml(240px); z-index: 1; .rel;
	.field-name-body { .m(50px 15%); }
	#sidebar { .fr; .w(33%); 
		.region { .p(30px); }
		.text {
			.block-content { .p(15px 0); border-top: 4px solid @blue; border-bottom: 4px solid @blue; }
			p { .roboto-xbold; .blue; .size(22px); .lh(24px); }
		}
		img { .w(100%); .h(auto); }
		p { .m(0px); }
		.sidebar-menu {
			h2.block-title { .size(18px); .mb(0px); .lh(22px); .blue; .ls(1px); }
			.block-content { .p(15px 0); border-top: 4px solid @blue; border-bottom: 4px solid @blue; }
			ul { .m0; .p0; 
				li { .list-none; .m0; .p0; 
					a { .blue; .roboto-bold; .size(16px); .lh(14px); .block; .p(5px 0); 
						&.active { .black; }
					}
				}
			}
		}
		.block-menu-block {
			&.menu-leadership-learning { background: url("../images/icons/knowledge-aqua.svg") no-repeat left top; background-size: 150px 150px; .pt(150px);
				h2.block-title a { .aqua; .size(18px); .slab; }
			}
			&.menu-strategic-projects { background: url("../images/icons/empathise-blue.svg") no-repeat left top; background-size: 170px 170px; .pt(160px);
				h2.block-title a { .blue; .size(18px); .slab; }
			}
			&.menu-workshops-events { background: url("../images/icons/recording-magenta.svg") no-repeat left top; background-size: 160px 160px; .pt(160px);
				h2.block-title a { .magenta; .size(18px); .slab; }
			}
			ul.menu { border-bottom: 1px solid #ccc; .m0;
				li { .list-none; border-top: 1px solid #ccc; .m0; .p(9px 0); 
					a { color: @ltgrey; .size(14px);
						&.active { .black; }
					}
				}
			}
		}
		@media (max-width:800px) { .hide; }
	}
	.field-name-body {
		a { .blue; }
		img { .w100; .h(auto); }
	}
	.block-webform { .m(40px 5%);
		h2.block-title { .hide; }
		label { .roboto-med; .size(14px); }
		input { background: #fff; .radius(3px); border: 1px solid #ccc; .p(10px); .size(16px); .lh(16px); max-width: 400px;
			&.form-submit { .bg-blue; -webkit-appearance: none; .script; .p(10px 25px); border: none; .radius(3px); }
		}
		textarea { background: #fff; .radius(3px); border: 1px solid #ccc; .p(10px); .size(16px); .lh(24px); max-width: 400px; }
		.form-item, .webform-component { max-width: 400px; }
	}
	@media (max-width: 1079px) { .ml(180px); }
	@media (max-width: 800px) { .ml(0px); 
		.node-article, .node-case-study, .node-page { .m(30px 15px); }
		#sidebar { .fn; .cb; .w(auto); .m(0 15px); 
			.region { .p0; 
				.text { 
					.block-content { .p(15px 0); border-top: 2px solid @blue; border-bottom: 2px solid @blue; }
					p { .size(16px); .lh(20px); .mb(0px); }
				}
			}
		}
	}
}

.one-sidebar #content {
	.node-article { .mr(37%); }
	.node-case-study {  .mr(37%); }
	.node-page { .mr(37%); }
	@media (max-width: 800px) {
		.node-article, .node-case-study, .node-page { .mr(5%); }
	}
	.field-name-body { .mr(0px); }
}

#content-lower { .w(auto); .ml(240px); .cb;
	@media (max-width: 1079px) { .ml(180px); }
	@media (max-width: 800px) { .ml(0px); }
	.about-detail { background: url("../images/bg-about-block.jpg") no-repeat center center; background-size: cover; .p(50px 5%); 
		h2.block-title { .bg-blue; .roboto-light; .ls(4px); .p(12px 24px); .size(22px); .inline-block; }
		h3, h4 { .white; .size(20px); .roboto-bold; }
		.third { .w(30%); .m(30px 3.333% 0 0); .fl; .white; .roboto-light; 
			p { .roboto-light; .size(14px); .lh(21px); .ltgrey; }
		}
		@media (max-width: 800px) {
			h2.block-title { .size(18px); .ls(0px); .p(10px); .block; }
			.third { .w100; .fn; }
		}
	}
}

.services-overview { min-height: 500px; .h(auto); .p(40px 5% 60px); background: @dkgrey;
	&.main { .pt(0px); }
	h2.block-title { .roboto-thin; .size(18px); .m(0 0 20px); .ltgrey; .ls(8px); .upper; .tc; }
	table { border: 0px; border-spacing: 40px; border-collapse: separate; .m(0 0 40px);
		td { .p0; .vtop; .w(33%); .tl; .white;
			h3 { .mb(6px); .tl; .ls(0px); .roboto-xbold; }
			h4 { .size(14px); .lh(17px); .m(0 0 24px); .tl; .roboto-light; }
			p { .size(14px); .lh(19px); .tl; .ltgrey; .m(0 0 6px); }
			ul { .m(30px 0 0); .p0; border-top: 1px solid @grey;
				li { .list-none; border-bottom: 1px solid @grey; .p(12px 0); .m0;
					a { .roboto-bold; .white; }
				}
			}
		}
	}
	&.mobile { .hide; .p(25px 0); }
	.row { .cb; .p(0 0 20px 0); .m(0 10% 20px); 
		h2, h3, h4 { .white; .size(28px); .lh(30px); .m(0 0 8px); .pt(15px); }
		p { .ltgrey; .roboto-light; .size(16px); .lh(21px); }
		.ui-icon { .hide; }
		.icon { .m(0 30px 0 0); .fl;
			&.fr { .m(0 0 0 30px); float: right; }
		}
		ul { 
			li {
				a { .white; 
					&:visited { .white; }
				}
			}
		}
	}
	@media (max-width: 800px) {
		&.desktop { .hide; }
		&.mobile { .show; }
	}
	.accordion { .p(0 10%);
		.header { .radius(0px); border: none; .p0; background: transparent; .m(15px 0); min-height: 170px;
			h2, h3, h4 { .white; .size(28px); .lh(30px); .m(0 0 8px); .pt(15px); }
			p { .ltgrey; .roboto-light; .size(16px); .lh(21px); }
			.ui-icon { .hide; }
			.icon { .m(0 30px 0 0); .fl;
				&.fr { .m(0 0 0 30px); float: right; }
			}
		}
		.more { background: transparent; border: none; .radius(0px); .p(0 0 30px); }
	}
}

// Icons

.icon {
	&.small { .w(80px); .h(80px); background-size: 80px 80px; background-repeat: no-repeat; background-position: center center; }
	&.medium { .w(170px); .h(170px); background-size: 170px 170px; background-repeat: no-repeat; background-position: center center; }
	&.large { }
	// Knowledge
	&.knowledge-yellow { background-image: url("../images/icons/knowledge-yellow.svg"); }
	&.knowledge-orange { background-image: url("../images/icons/knowledge-orange.svg"); }
	&.knowledge-red { background-image: url("../images/icons/knowledge-red.svg"); }
	&.knowledge-blue { background-image: url("../images/icons/knowledge-blue.svg"); }
	&.knowledge-aqua { background-image: url("../images/icons/knowledge-aqua.svg"); }
	&.knowledge-magenta { background-image: url("../images/icons/knowledge-magenta.svg"); }
	&.knowledge-green { background-image: url("../images/icons/knowledge-green.svg"); }
	// Empathise
	&.empathise-yellow { background-image: url("../images/icons/empathise-yellow.svg"); }
	&.empathise-orange { background-image: url("../images/icons/empathise-orange.svg"); }
	&.empathise-red { background-image: url("../images/icons/empathise-red.svg"); }
	&.empathise-blue { background-image: url("../images/icons/empathise-blue.svg"); }
	&.empathise-aqua { background-image: url("../images/icons/empathise-aqua.svg"); }
	&.empathise-magenta { background-image: url("../images/icons/empathise-magenta.svg"); }
	&.empathise-green { background-image: url("../images/icons/empathise-green.svg"); }
	// Future
	&.future-yellow { background-image: url("../images/icons/future-yellow.svg"); }
	&.future-orange { background-image: url("../images/icons/future-orange.svg"); }
	&.future-red { background-image: url("../images/icons/future-red.svg"); }
	&.future-blue { background-image: url("../images/icons/future-blue.svg"); }
	&.future-aqua { background-image: url("../images/icons/future-aqua.svg"); }
	&.future-magenta { background-image: url("../images/icons/future-magenta.svg"); }
	&.future-green { background-image: url("../images/icons/future-green.svg"); }
	// Ecosystem
	&.ecosystem-yellow { background-image: url("../images/icons/ecosystem-yellow.svg"); }
	&.ecosystem-orange { background-image: url("../images/icons/ecosystem-orange.svg"); }
	&.ecosystem-red { background-image: url("../images/icons/ecosystem-red.svg"); }
	&.ecosystem-blue { background-image: url("../images/icons/ecosystem-blue.svg"); }
	&.ecosystem-aqua { background-image: url("../images/icons/ecosystem-aqua.svg"); }
	&.ecosystem-magenta { background-image: url("../images/icons/ecosystem-magenta.svg"); }
	&.ecosystem-green { background-image: url("../images/icons/ecosystem-green.svg"); }
	// Learning
	&.learning-yellow { background-image: url("../images/icons/learning-yellow.svg"); }
	&.learning-orange { background-image: url("../images/icons/learning-orange.svg"); }
	&.learning-red { background-image: url("../images/icons/learning-red.svg"); }
	&.learning-blue { background-image: url("../images/icons/learning-blue.svg"); }
	&.learning-aqua { background-image: url("../images/icons/learning-aqua.svg"); }
	&.learning-magenta { background-image: url("../images/icons/learning-magenta.svg"); }
	&.learning-green { background-image: url("../images/icons/learning-green.svg"); }
	// Leadership
	&.leadership-yellow { background-image: url("../images/icons/leadership-yellow.svg"); }
	&.leadership-orange { background-image: url("../images/icons/leadership-orange.svg"); }
	&.leadership-red { background-image: url("../images/icons/leadership-red.svg"); }
	&.leadership-blue { background-image: url("../images/icons/leadership-blue.svg"); }
	&.leadership-aqua { background-image: url("../images/icons/leadership-aqua.svg"); }
	&.leadership-magenta { background-image: url("../images/icons/leadership-magenta.svg"); }
	&.leadership-green { background-image: url("../images/icons/leadership-green.svg"); }
	// Recording
	&.recording-yellow { background-image: url("../images/icons/recording-yellow.svg"); }
	&.recording-orange { background-image: url("../images/icons/recording-orange.svg"); }
	&.recording-red { background-image: url("../images/icons/recording-red.svg"); }
	&.recording-blue { background-image: url("../images/icons/recording-blue.svg"); }
	&.recording-aqua { background-image: url("../images/icons/recording-aqua.svg"); }
	&.recording-magenta { background-image: url("../images/icons/recording-magenta.svg"); }
	&.recording-green { background-image: url("../images/icons/recording-green.svg"); }
	// Idea
	&.idea-yellow { background-image: url("../images/icons/idea-yellow.svg"); }
	&.idea-orange { background-image: url("../images/icons/idea-orange.svg"); }
	&.idea-red { background-image: url("../images/icons/idea-red.svg"); }
	&.idea-blue { background-image: url("../images/icons/idea-blue.svg"); }
	&.idea-aqua { background-image: url("../images/icons/idea-aqua.svg"); }
	&.idea-magenta { background-image: url("../images/icons/idea-magenta.svg"); }
	&.idea-green { background-image: url("../images/icons/idea-green.svg"); }
	// Sprint
	&.sprint-yellow { background-image: url("../images/icons/sprint-yellow.svg"); }
	&.sprint-orange { background-image: url("../images/icons/sprint-orange.svg"); }
	&.sprint-red { background-image: url("../images/icons/sprint-red.svg"); }
	&.sprint-blue { background-image: url("../images/icons/sprint-blue.svg"); }
	&.sprint-aqua { background-image: url("../images/icons/sprint-aqua.svg"); }
	&.sprint-magenta { background-image: url("../images/icons/sprint-magenta.svg"); }
	&.sprint-green { background-image: url("../images/icons/sprint-green.svg"); }
}

// Buttons
a.button,
.button { -webkit-appearance: none; .bg-blue; .upper; .p(9px 16px); .size(13px); .inline-block; .radius(3px); border: none;
	&.bg-green, &.green { .bg-green; }
	&.bg-aqua, &.aqua { .bg-aqua; }
	&.bg-magenta, &.magenta { .bg-magenta; }
	&.bg-red, &.red { .bg-red; }
	&.bg-orange, &.orange { .bg-orange; }
	&.bg-yellow, &.yellow { .bg-yellow; }
	&.bg-black, &.black { background: #000; .white; }
	&.bg-grey, &.grey { background: @dkgrey; .white; }
	&.bg-white, &.white { background: #fff; .dkgrey; }
}

.design-thinking-academy { background: url("../images/green-leaves.jpg") no-repeat center bottom; background-size: cover; .p(50px 10%); 
	h2 { .white; .tc; }
	p { .white; .tc; .p(0 100px); }
	table { border-collapse: separate; border-spacing: 15px;
		td { .p(30px 40px); .tl; .vtop; background: #fff; .w(50%);
			p { .m(0 0 10px); .p0; .tl; .size(13px); .lh(16px); color: @dkgrey; .roboto-light;
				&.meta { .roboto-bold; .mb(20px); }
			}
			ul, ol { .m(0 0 10px); .p0;
				li { .m(0 0 4px 0); .size(13px); color: @dkgrey; .roboto-light; .list-none; }
			}
			strong { .size(13px); .lh(16px); }
			h3 { .size(22px); .m(0 0 10px); }
			.button { .mt(15px); .p(7px 16px); .bg-green; }
		}
	}
}

.team-members { .p(0 13%);
	h2.block-title { .m(20px 30px); .tc; border-bottom: 1px solid @grey; .pb(10px); }
	table { .w100; }
	td { vertical-align: top; .w(50%); .p(0 30px); }
	.views-field-field-image { .fl; }
	.views-field-title { .p(50px 0 70px 150px); 
		.field-content { .roboto-xbold; .size(20px); }
	}
	.views-field-body { .size(14px); .lh(19px); .m(0 0 40px 0); .roboto-light; 
		p { .m(0 0 10px); }
	}
	&.mobile { .hide; 
		.views-field-field-image { .w(100px);
			img { .w100; .h(auto); }
		}
		.views-field-title { .p(40px 5% 30px 110px); }
		.views-field-body { .m(0 0 30px); }
	}
	@media (max-width: 800px) { .p(0 5% 0 5%);
		&.desktop { .hide; }
		&.mobile { .show; }
	}
}

.teaser-grid {
	&.case-studies {
		table { border-spacing: 1px; }
		td { background: transparent; padding-bottom: 40px; }
		.title { .m(0 40px 5px 0); }
		.subtitle { .grey; .m(0 40px 5px 0); }
		.view-content { .p(30px 5% 50px); }
	}
	h2.block-title { .m(0px 5% 10px); .pt(40px); .tc; }
	.view-content { .cb; .p(0 3%); }
	table { border-spacing: 15px; border-collapse: separate; }
	td { background: #fff; .vtop; .p0; .w(33.333%); }
	.teaser-image { .w(100%); .h(180px); .block; .mb(15px); }
	.title { .m(0 20px); .roboto-xbold; .size(20px); .black; }
	.subtitle { .m(0 20px 20px); .roboto; .size(14px); .lh(18px); .black; }
	.meta { .grey; .size(11px); .m(0 20px 20px); }
	.excerpt { .m(0 20px 30px); .size(14px); .lh(18px); .black; }
	@media (max-width: 800px) { .hide; }
}
.mobile-teasers { .hide;
	h2.block-title { .m(30px 2% 10px); }
	.view-content { .p(0 2%); }
	.views-row { background: #fff; .h(120px); .mb(5px); }
	.teaser-image { .w(100px); .h(120px); .fl; }
	.title { .m(0px 15px 15px 115px); .roboto-xbold; .size(14px); .lh(16px); .black; .pt(15px); }
	.subtitle { .m(0px 15px 15px 115px); .roboto; .size(12px); .lh(14px); .black; }
	.meta { .hide; .grey; .size(11px); .m(0px 0px 15px 115px); .lh(13px); }
	.excerpt { .m(0px 15px 15px 115px); .size(11px); .lh(13px); .black; }
	@media (max-width: 800px) { .show; }
}


// Footer

#footer { .w(auto); .ml(240px); .ltgrey; 
	@media (max-width: 1079px) { .ml(180px); }
	@media (max-width: 800px) { .ml(0px); }
}
.copyright { .roboto-bold; .p(10px 0); .m0; .size(12px); }


// Drupal Fixes

.profile { .p(30px); }
#user-login { .p(30px); }
.form-text { background: #fff; .radius(3px); border: 1px solid #ccc; .p(10px); .size(16px); .lh(16px); max-width: 400px; }
.form-submit, input[type="button"], input[type="reset"], input[type="submit"] { .button; }
	