@import "globals";

// Basics

h1 { .size(46px); .lh(51px); .slab; .ls(-1px); 
	@media (max-width:1120px) { .size(36px); .lh(40px); }
}
h2 { .size(34px); .lh(38px); .slab; .ls(-1px);
	@media (max-width:1120px) { .size(26px); .lh(30px); }
}
h3 { .size(22px); .lh(26px); .slab; .ls(0px);
	@media (max-width:1120px) { .size(20px); .lh(24px); }
}

html { -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; }
body { background: #333; }
.block-block { .mb(0px); }
.block { .mb(0px); }
.tabs-primary { .m(0px); .p(20px 0 10px); }
#page { .w100; .h(100%); }


// Navigation

#navigation { .w(240px); .h(100%); .fix; z-index: 100; top: 0px; bottom: 0px; background: #000 url("../images/bg-navigation.jpg") no-repeat center top; overflow: visible; 
	.region-navigation { .h(auto); overflow: visible; }
	#logo { .w(240px); .h(240px); background: url("../images/treehouse-logo-white.svg") no-repeat center center; background-size: 150px 150px; .block; .m0; }
	.mobile-menu { .hide; .cb; }
	.mobile-nav { .hide;
		.block-content { .p(10px 5%); 
			ul.menu { 
				li { .list-none; .tl; background: transparent url("../images/white15.png") repeat-x bottom; .p0; .m0; .fn;
					a { .white; .roboto; .block; .p(7px 0); .tl; .size(13px);
						&:visited { .black; }
					}
					&.last { border-bottom: none; }
				}
			}
		}
	}
	#mobile-menu-trigger { .fl; left: 2%; top: 0; z-index: 99; .p(25px 10px 23px 34px); background: url("../images/mobile-menu-white.svg") no-repeat left center; background-size: 30px 30px; .roboto; .ls(2px); .upper; .size(12px); .lh(12px); .white; .block; }
	.block-nice-menus { .w(100%); .p0; .m0; .rel; z-index: 9999;
		h2.block-title { .hide; }
		ul.nice-menu-right { .m0; .p0; .w(100%); border-top: none;
			li { .list-none; .p0; .block; .fn; .m0; border: none; background: transparent; .w(100%);
				a { .roboto; .size(15px); .lh(18px); .ltgrey; .block; .p(9px 18px); 
					&:visited { .ltgrey; }
					&:hover { .white; background: rgba(255,255,255,0.1); }
				}
				&.menuparent { background: url("../images/arrow-white.svg") no-repeat 215px 10px; background-size: 15px 15px; 
					a { 
						&:hover { background: rgba(255,255,255,0.1); .white; }
					}
					ul { left: 240px; z-index: 9999; .w(200px); .p(5px 0 15px); background: @blue; border: none;
						li { border-bottom: none; background: transparent;
							a { .roboto; .white; .size(15px); .lh(18px); .p(9px 20px); .tt-none; background: transparent;
								&.active { }
								&:visited { .white; }
								&:hover { .white; background: @dkblue; }
							}
						}
					}
				}
				&.active-trail a {
					&.services, &.service { border-left: 10px solid @blue; .p(9px 18px 9px 8px); .white; .bold; }
					&.case-studies { border-left: 10px solid @aqua; .p(9px 18px 9px 8px); .white; .bold; }
					&.blog { border-left: 10px solid @magenta; .p(9px 18px 9px 8px); .white; .bold; }
					&.team { border-left: 10px solid @red; .p(9px 18px 9px 8px); .white; .bold; }
					&.about { border-left: 10px solid @orange; .p(9px 18px 9px 8px); .white; .bold; }
					&.contact { border-left: 10px solid @green; .p(9px 18px 9px 8px); .white; .bold; }
				}
				&.menu-464 { .hide; }
			}
		}
	}
	.social-contact { .m(15px 20px 0px); .ltgrey; .size(12px); 
		p { .mt(0px); .size(12px); .lh(17px); }
		a { .ltgrey; 
			&:visited { .ltgrey; }
		}
		img { .pr(10px); }
	}
	.back-to-top { .abs; bottom: 0px; left: 20px; .hide; }
	@media (max-width: 1079px) { .w(180px); 
		#logo { .w(180px); .h(180px); background-size: 120px 120px; }
		.block-nice-menus { .w(180px); 
			ul.nice-menu-right li.menuparent {
				a { background: url("../images/arrow.svg") no-repeat 154px 14px; background-size: 15px 15px; 
					&:hover { background: #eee url("../images/arrow.svg") no-repeat 154px 14px; background-size: 15px 15px; }
				}
				&.active-trail a { background: url("../images/arrow.svg") no-repeat 144px 14px; background-size: 15px 15px; 
					&:hover { background: #eee url("../images/arrow.svg") no-repeat 144px 14px; background-size: 15px 15px; }
				}
				ul { left: 180px; }
			}
		}
		.social-contact { .w(180px); .m(20px 15px 0); }
	}
	@media (max-width: 720px) { .rel; .w(100%); .h(auto); bottom: auto; top: 0px; .h(auto); .tc; background: #000;
		#logo { .w(60px); .h(60px); background-size: 48px 48px; background-position: center center; .m(0px auto); } 
		.block-nice-menus { .hide; }
		.mobile-menu { .show; }
		.social-contact { .hide; }
	}
	p { .m0; }
}

.logged-in #navigation #logo { .mt(60px); 
	@media (max-width: 720px) { .mt(0px); }
}



// Header Region

#header { .rel; z-index: 0; top: 0; .ml(240px); .w(auto); overflow: hidden;
	.region-header { .rel; .w(100%); .h(100%); .m0;
		.view-header-image {
			.header-image { background-position: center center; }
			.header-overlay { .w(100%); .h(100%); .m0; .p0; }
			.header-content { .p(150px 13% 20px 13%);
				h1 { .mb(10px); .tl; }
				p { .m(0 0 10px); .tl; }
			}
			.short-header-1 {
				.header-content { .p(80px 13% 20px 13%); }
			}
		}
	}
	@media (max-width: 1079px) { .ml(180px); }
	@media (max-width: 720px) { .ml(0px); }
}



// Front Page Styles

.front {
	#main { }
	#header { .h(550px); .rel; z-index: 0; background: url("../images/lightbulb-wall.jpg") no-repeat center center; background-size: cover;
		.homepage-banner { .rel; z-index: 1; .w(auto); .h(550px); overflow: hidden; 
			.block-content { .p(150px 15% 0); .tc; }
			p { .size(18px); .lh(26px); .m(0 0 14px); background: rgba(71,169,225,0.9); .white; .p(5px 20px); }
			h2 { .size(40px); .lh(50px); .mb(0px); background: rgba(71,169,225,0.9); .tc; .p(30px); .white; .script; }
			.button { border: 1px solid @grey; background: transparent; color: @grey; .size(12px); .p(7px 16px); }
		}
	}
	h1#page-title { .hide; }
	#content { .rel; z-index: 1; background: #e8e8e8;
		.node-page { .m0; }
		article { .tc;
			.field-name-body { .p(0px 8%); .m(0px); }
			.column.third { .w(29.33%); .p(0px); .m(0 2%); .fl; .tc;
				/*&.learn { background: transparent url("../images/icons/knowledge-white.svg") no-repeat 10px 30px; background-size: 110px 110px; }
				&.collaborate { background: transparent url("../images/icons/idea-white.svg") no-repeat 10px 30px; background-size: 110px 110px; }
				&.events { background: transparent url("../images/icons/future-white.svg") no-repeat 10px 30px; background-size: 110px 110px; }*/
				p { .size(14px); .roboto-light; .lh(19px); .tl; }
				a.button { .white; background: transparent; border: 1px solid #fff; }
				img { .w(auto); .h(auto); .m(-85px 0 0 10px); }
			}
		}
		.homepage-logos { background: #fff; .mb(0px); .p(10px 10%); 
			p { .roboto-light; .em; .size(11px); .lh(14px); .tl; .m(0px); }
		}
	}
	@media (max-width:720px) { 
		#header { .h(365px); 
			.homepage-banner { .h(365px); background: #fff url("../images/bricks.jpg") no-repeat 47% top; background-size: auto 470px;
				.block-content { .p(90px 3% 0); }
				p { .size(16px); .lh(21px); .roboto; }
				h2 { .size(26px); .lh(29px); }
			}
		}
		#content {
			article { .pt(20px);
				.column.third { .w(100%); .m(0 0 20px); .pb(20px); .fn; border-bottom: 1px solid #ddd; 
					img { .m(0px 15px 30px -30px); .fl; .w(80px); .h(auto); .hide; }
					p { .size(14px); .lh(19px); .m(0 0 15px); }
				}
			}
			.homepage-logos { .p(0 3%); }
		}
	}
}


// Breadcrumb

.breadcrumb { .p(10px 0 10px 8%); .h(20px); .m(0px); 
	li { .size(10px); .roboto-light; .em; .upper; 
		a { .blue; }
	}
}


// Main content styles

#main { .w100; .rel; z-index: 0; background: #fff; }
#content { .w(auto); .ml(240px); z-index: 1; .rel; 
	a { .blue; }
	.field-name-body { .m(50px 13%);
		a { .blue; 
			&.button { .white; }
		}
		img { .w100; .h(auto); }
		li { .list-none; .pl(30px); .ml(0px); background: url("../images/leaf-bullet-blue.png") no-repeat left center; }
	}
	.block-webform { .m(40px 5%);
		h2.block-title { .hide; }
		label { .roboto-med; .size(14px); }
		input { background: #fff; .radius(3px); border: 1px solid #ccc; .p(10px); .size(16px); .lh(16px); max-width: 400px;
			&.form-submit { .bg-blue; -webkit-appearance: none; .p(10px 25px); border: none; .radius(3px); }
		}
		textarea { background: #fff; .radius(3px); border: 1px solid #ccc; .p(10px); .size(16px); .lh(24px); max-width: 400px; }
		.form-item, .webform-component { max-width: 400px; }
	}
	.view-file-download { .m(0 8% 30px); 
		.views-row { .p(20px 0); .mb(50px); 
			.file {
				.file-icon { .hide; }
				a { .inline-block; .button; .tt-none; .size(18px); .roboto-light; .p(15px 25px); }
			}
		}
	}
	.courses { .white; background: url("../images/droplets.jpg") no-repeat center center; background-size: cover; 
		.course { background: #ebebeb; .black; .p(40px 50px); .m(0 0 60px); .rel;
			h3 { .m(0px 0px 12px); }
			p { .m(0px 0px 12px); }
			.violator { background: url("../images/violator-grey.png") no-repeat center center; .w(92px); .h(50px); .p(35px 30px); .white; .bold; .em; .tc; .size(14px); .lh(16px); .abs; top: -45px; left: -85px; }
		}
	}
	.quote { 
		.block-content { background: #ebebeb; .black; .p(40px 50px 20px); .rel; .tc;
			img { .abs; top: -40px; left: 50%; .ml(-41px); }
			h2, h3, h4 { .size(20px); .lh(26px); .black; .bold; .em; }
		}
		&.consulting { background: url("../images/meeting.jpg") no-repeat center center; background-size: cover; .pt(250px); }
		&.events { background: url("../images/event.jpg") no-repeat center center; background-size: cover; .pt(230px); }
	}
	.block-block { .p(50px 13%);
		table { border: none; .w(100%);
			td { .p(0 25px 0 0); .vtop; border: none; 
				img { .m0; }
				p { .m(0 0 10px); }
			}
		}
		.block-content {
			li { .list-none; .pl(30px); .ml(0px); background: url("../images/leaf-bullet-blue.png") no-repeat left center; }
		}
	}
	.learning-leadership-venn { background: url("../images/venn.jpg") no-repeat center center; background-size: cover; .h(550px); }
	.leadership-partners { background: transparent url("../images/learning-bw.png") no-repeat center top; .mt(-70px); .pt(185px); 
		table { border: 30px solid #ebebeb !important; background: #ebebeb; 
			td { .p(10px 10px 10px 10px); .bold; }
		}
	}
	.labs-intro { .pb(0px); }
	.labs-details { background: url("../images/acceleration-labs.jpg") no-repeat right top; background-size: 50% auto; .pr(50%); }
	.lab-examples {
		table { border: 30px solid #ebebeb !important; background: #ebebeb; 
			td { .p(10px 10px 10px 10px); .bold; 
				img { .m(0px 10px 30px 0px); }
			}
		}
	}
	.labs { background: url("../images/green-leaves.jpg") no-repeat center center; background-size: cover; .white;
		.lab { background: #ebebeb; .black; .p(40px 50px 40px 150px); .m(0 0 60px); .rel; 
			.violator { .abs; left: -60px; .fl; }
			h3 { .mt(0px); }
		}
	}
	.field-projects { background: transparent url("../images/field-projects-venn.png") no-repeat center top; .mt(-70px); .pt(185px); }
	.crowd-innovation-sprints { background: url("../images/crowd-innovation-sprints.jpg") no-repeat right bottom; background-size: 50% auto; 
		.block-content { .pr(45%); } 
	}
	.design-thinker-conference { background: url("../images/design-thinker-conference.jpg") no-repeat right center; background-size: 50% auto; 
		.block-content { .pr(55%); }
	}
	.graphic-recording { background: url("../images/graphic-recording.jpg") no-repeat center center; background-size: cover; .p(350px 8% 30px); 
		.block-content { background: rgba(0,0,0,0.8); .white; .p(20px 55px); }
	}
	.your-next-event { background: url("../images/your-next-event.jpg") no-repeat right center; background-size: 45% auto; 
		.block-content { .pr(50%); }
	}
	.contact { background: url("../images/grey.gif") repeat-x center 180px; .p(20px 13% 40px);
		.block-content {
			p, a, h2, h3, h4 { .serif !important; .bold; .size(30px); .black; .td-none; }	
		}
	}
	.about-name { 
		.block-content { .pr(55%); background: url("../images/treehouse-logo.svg") no-repeat right center; background-size: 40% auto; }
	}
	.values { background: url("../images/dandelions.jpg") no-repeat center center; background-size: cover; .white;
		.block-content {
			table { background: rgba(0,0,0,0.6);
				td { .p(30px); }
			}
			h2 { .tc; }
			h3 { .m(0 0 3px); .white; }
			p { .white; .m(0 0 12px); }
		}
	}
	@media (min-width: 1400px) {
		.about-name .block-content { background: url("../images/treehouse-logo.svg") no-repeat right center; background-size: auto 100%; }
	}
	@media (max-width: 1079px) { .ml(180px); }
	@media (max-width: 720px) { .ml(0px); 
		.field-name-body { .m(20px 5%); }
		.block-webform { .m(0px 5% 40px); 
			input { max-width: 100%; }
		}
	}
}

.page-node-21 #main,
.page-node-25 #main,
.page-node-31 #main,
.page-node-32 #main,
.page-node-33 #main { background: #fff url("../images/tree-rings-top-left.jpg") no-repeat 240px top; }

// Lower Content

#content-lower { .w(auto); .ml(240px); .cb;
	.about-detail { background: url("../images/bg-about-block.jpg") no-repeat center center; background-size: cover; .p(50px 6%); 
		h2.block-title { .tl; .slab; .p(12px 2%); .size(30px); .white; }
		h3, h4 { .white; .size(20px); .roboto-light; .mb(12px); }
		.third { .w(29.333%); .m(30px 2% 0 2%); .fl; .white; .roboto-light; 
			p { .roboto-light; .size(14px); .lh(21px); .ltgrey; }
		}
		@media (max-width: 720px) {
			h2.block-title { .size(18px); .ls(0px); .p(10px); .block; }
			.third { .w100; .fn; }
		}
	}
	#block-views-nodequeue-3-block { background: @dkgrey; .p(30px 0 80px); .tc;
		h2.block-title { .white; .tc; .m(0 0 15px); }
		.view-content { .w(500px); .m(0 auto); 
			.views-row { .p(10px); background: #fff; .h(480px); .w(480px); vertical-align: center; }
		}
		.views-slideshow-controls-top { .mb(10px);
			a { .ltgrey; background: #555; .upper; .size(11px); .lh(20px); .h(20px); .p(0 10px); .inline-block; 
				&:hover { .white; }
			}
		}
	}
	.extended-family { .m(0 4%);
		&.mobile { .hide; }
		h2.block-title { .tl; .m(20px 4%); .pb(10px); border-bottom: 1px solid @ltgrey; }
		table { border: 0px !important; .w(100%); 
			td { .w(50%); .tc; .dkgrey; .vtop; .p(0 4%);
				p { .size(14px); .lh(18px); .tl; 
					a { .strong; .blue; }
				}
			}
		}
	}
	@media (max-width: 1079px) { .ml(180px); }
	@media (max-width: 720px) { .ml(0px); 
		.extended-family {
			&.desktop { .hide; }
			&.mobile { .show; }
		}
	}
}

.services-overview { min-height: 500px; .h(auto); .p(40px 8% 60px); background: @dkgrey;
	&.main { .pt(0px); }
	h2.block-title { .roboto-light; .size(18px); .m(0 0 20px); .ltgrey; .ls(8px); .upper; .tc; }
	table { border: 0px; border-spacing: 40px; border-collapse: separate; .m(0 0 40px);
		td { .p0; .vtop; .w(33%); .tl; .white;
			h3 { .mb(6px); .tl; .ls(0px); .roboto-bold; }
			h4 { .size(14px); .lh(17px); .m(0 0 24px); .tl; .roboto-light; }
			p { .size(14px); .lh(19px); .tl; .ltgrey; .m(0 0 6px); }
			ul { .m(30px 0 0); .p0; border-top: 1px solid @grey;
				li { .list-none; border-bottom: 1px solid @grey; .p(12px 0); .m0;
					a { .roboto-bold; .white; }
				}
			}
		}
	}
	&.mobile { .hide; .p(25px 0); }
	.row { .cb; .p(0 0 20px 0); .m(0 0 20px); 
		h2, h3, h4 { .white; .size(28px); .lh(30px); .m(0 0 8px); .pt(15px); }
		p { .ltgrey; .roboto-light; .size(16px); .lh(21px); .m(0 0 15px); }
		.ui-icon { .hide; }
		.icon { .m(0 30px 0 0); .fl;
			&.fr { .m(0 0 0 30px); float: right; }
		}
		ul { 
			li {
				a { .white; 
					&:visited { .white; }
				}
			}
		}
	}
	@media (max-width: 720px) { .p(15px 5% 30px);
		&.desktop { .hide; }
		&.mobile { .show; }
		.row { .m0; 
			h2, h3, h4 { .size(18px); .lh(23px); }
			p { .size(12px); .lh(15px); }
			.icon { .hide; }
			.button { .size(13px); .p(6px 12px); }
		}
	}
}


// With sidebar 

.one-sidebar #content {
	#sidebar { .fr; .w(22%); .m(0); 
		.region-sidebar-second { .mt(100px); 
			h2 { .roboto-light; .upper; .ls(3px); .size(14px); }
			.view-blog { border-top: 1px solid #ccc;
				.blog-article-link { border-bottom: 1px solid #ccc; .p(14px 14px 14px 0); .black; .block; .lh(18px);
					.article-title { .roboto-bold; .size(16px); .lh(18px); }
					.article-meta { .size(12px); .dkgrey; .em; }
				}
			}
			.view-footer {	
				a, a:visited { .blue; .bold; }			
			}
		}
	}
	article { clear: none !important;
		.field-name-body { .m(60px 30% 60px 8%); }
		&:after { .hide; }
	}
	.node-case-study {  .mr(37%); }
	.node-page { .mr(37%); }
	@media (max-width: 720px) {
		.node-article, .node-case-study, .node-page { .mr(5%); }
	}
}

// Icons

.icon {
	&.small { .w(80px); .h(80px); background-size: 80px 80px; background-repeat: no-repeat; background-position: center center; }
	&.medium { .w(170px); .h(170px); background-size: 170px 170px; background-repeat: no-repeat; background-position: center center; }
	&.large { }
	// Knowledge
	&.knowledge-yellow { background-image: url("../images/icons/knowledge-yellow.svg"); }
	&.knowledge-orange { background-image: url("../images/icons/knowledge-orange.svg"); }
	&.knowledge-red { background-image: url("../images/icons/knowledge-red.svg"); }
	&.knowledge-blue { background-image: url("../images/icons/knowledge-blue.svg"); }
	&.knowledge-aqua { background-image: url("../images/icons/knowledge-aqua.svg"); }
	&.knowledge-magenta { background-image: url("../images/icons/knowledge-magenta.svg"); }
	&.knowledge-green { background-image: url("../images/icons/knowledge-green.svg"); }
	// Empathise
	&.empathise-yellow { background-image: url("../images/icons/empathise-yellow.svg"); }
	&.empathise-orange { background-image: url("../images/icons/empathise-orange.svg"); }
	&.empathise-red { background-image: url("../images/icons/empathise-red.svg"); }
	&.empathise-blue { background-image: url("../images/icons/empathise-blue.svg"); }
	&.empathise-aqua { background-image: url("../images/icons/empathise-aqua.svg"); }
	&.empathise-magenta { background-image: url("../images/icons/empathise-magenta.svg"); }
	&.empathise-green { background-image: url("../images/icons/empathise-green.svg"); }
	// Future
	&.future-yellow { background-image: url("../images/icons/future-yellow.svg"); }
	&.future-orange { background-image: url("../images/icons/future-orange.svg"); }
	&.future-red { background-image: url("../images/icons/future-red.svg"); }
	&.future-blue { background-image: url("../images/icons/future-blue.svg"); }
	&.future-aqua { background-image: url("../images/icons/future-aqua.svg"); }
	&.future-magenta { background-image: url("../images/icons/future-magenta.svg"); }
	&.future-green { background-image: url("../images/icons/future-green.svg"); }
	// Ecosystem
	&.ecosystem-yellow { background-image: url("../images/icons/ecosystem-yellow.svg"); }
	&.ecosystem-orange { background-image: url("../images/icons/ecosystem-orange.svg"); }
	&.ecosystem-red { background-image: url("../images/icons/ecosystem-red.svg"); }
	&.ecosystem-blue { background-image: url("../images/icons/ecosystem-blue.svg"); }
	&.ecosystem-aqua { background-image: url("../images/icons/ecosystem-aqua.svg"); }
	&.ecosystem-magenta { background-image: url("../images/icons/ecosystem-magenta.svg"); }
	&.ecosystem-green { background-image: url("../images/icons/ecosystem-green.svg"); }
	// Learning
	&.learning-yellow { background-image: url("../images/icons/learning-yellow.svg"); }
	&.learning-orange { background-image: url("../images/icons/learning-orange.svg"); }
	&.learning-red { background-image: url("../images/icons/learning-red.svg"); }
	&.learning-blue { background-image: url("../images/icons/learning-blue.svg"); }
	&.learning-aqua { background-image: url("../images/icons/learning-aqua.svg"); }
	&.learning-magenta { background-image: url("../images/icons/learning-magenta.svg"); }
	&.learning-green { background-image: url("../images/icons/learning-green.svg"); }
	// Leadership
	&.leadership-yellow { background-image: url("../images/icons/leadership-yellow.svg"); }
	&.leadership-orange { background-image: url("../images/icons/leadership-orange.svg"); }
	&.leadership-red { background-image: url("../images/icons/leadership-red.svg"); }
	&.leadership-blue { background-image: url("../images/icons/leadership-blue.svg"); }
	&.leadership-aqua { background-image: url("../images/icons/leadership-aqua.svg"); }
	&.leadership-magenta { background-image: url("../images/icons/leadership-magenta.svg"); }
	&.leadership-green { background-image: url("../images/icons/leadership-green.svg"); }
	// Recording
	&.recording-yellow { background-image: url("../images/icons/recording-yellow.svg"); }
	&.recording-orange { background-image: url("../images/icons/recording-orange.svg"); }
	&.recording-red { background-image: url("../images/icons/recording-red.svg"); }
	&.recording-blue { background-image: url("../images/icons/recording-blue.svg"); }
	&.recording-aqua { background-image: url("../images/icons/recording-aqua.svg"); }
	&.recording-magenta { background-image: url("../images/icons/recording-magenta.svg"); }
	&.recording-green { background-image: url("../images/icons/recording-green.svg"); }
	// Idea
	&.idea-yellow { background-image: url("../images/icons/idea-yellow.svg"); }
	&.idea-orange { background-image: url("../images/icons/idea-orange.svg"); }
	&.idea-red { background-image: url("../images/icons/idea-red.svg"); }
	&.idea-blue { background-image: url("../images/icons/idea-blue.svg"); }
	&.idea-aqua { background-image: url("../images/icons/idea-aqua.svg"); }
	&.idea-magenta { background-image: url("../images/icons/idea-magenta.svg"); }
	&.idea-green { background-image: url("../images/icons/idea-green.svg"); }
	// Sprint
	&.sprint-yellow { background-image: url("../images/icons/sprint-yellow.svg"); }
	&.sprint-orange { background-image: url("../images/icons/sprint-orange.svg"); }
	&.sprint-red { background-image: url("../images/icons/sprint-red.svg"); }
	&.sprint-blue { background-image: url("../images/icons/sprint-blue.svg"); }
	&.sprint-aqua { background-image: url("../images/icons/sprint-aqua.svg"); }
	&.sprint-magenta { background-image: url("../images/icons/sprint-magenta.svg"); }
	&.sprint-green { background-image: url("../images/icons/sprint-green.svg"); }
}

// Buttons
a.button,
.button { -webkit-appearance: none; .bg-blue; .upper; .p(9px 16px); .size(13px); .inline-block; .radius(3px); border: none;
	&.bg-green, &.green { .bg-green; }
	&.bg-aqua, &.aqua { .bg-aqua; }
	&.bg-magenta, &.magenta { .bg-magenta; }
	&.bg-red, &.red { .bg-red; }
	&.bg-orange, &.orange { .bg-orange; }
	&.bg-yellow, &.yellow { .bg-yellow; }
	&.bg-black, &.black { background: #000; .white; }
	&.bg-grey, &.grey { background: @dkgrey; .white; }
	&.bg-white, &.white { background: #fff; .dkgrey; }
	&.hollow { border: 1px solid @grey; background: #fff; color: @grey; .size(12px); }
}

.design-thinking-academy { .p(50px 10%); background: transparent url("../images/green-leaves.jpg") no-repeat center center; background-size: cover; 
	&.mobile { .hide; .p(20px 4%);
		h2 { .tl; .mb(12px); }
		p { .p0; .size(12px); .lh(17px); .tl; }
		.row { .p(15px); .mb(5px); background: #fff; 
			h3 { .size(18px); .lh(23px); .m(0 0 10px); }
			p { .grey; .m(0 0 12px); .size(12px); .lh(17px); .roboto-light; }
			ul, ol { .m(0 0 12px); .p0;
				li { .m(0 0 4px 15px); .size(12px); .lh(17px); .grey; .roboto-light; }
			}
		}
	}
	h2 { .white; .tc; }
	p { .white; .tc; .p(0 100px); }
	table { border-collapse: separate; border-spacing: 15px;
		td { .p(30px 40px); .tl; .vtop; background: #fff; .w(50%);
			p { .m(0 0 12px); .p0; .tl; .size(13px); .lh(17px); color: @dkgrey; .roboto-light;
				&.meta { .roboto-bold; .mb(20px); }
			}
			ul, ol { .m(0 0 12px); .p0;
				li { .m(0 0 4px 15px); .size(13px); color: @dkgrey; .roboto-light; }
			}
			strong { .size(13px); .lh(16px); }
			h3 { .size(22px); .m(0 0 10px); }
			.button { .mt(15px); .p(7px 16px); }
		}
	}
	@media (max-width: 720px) {
		&.desktop { .hide; }
		&.mobile { .show; 
			
		}
	}
}

.team-members { .p(0 10%);
	h2.block-title { .m(20px 4%); .tl; border-bottom: 1px solid @ltgrey; .pb(10px); }
	table { .w100; }
	td { vertical-align: top; .w(50%); .p(0 4%); }
	.views-field-field-image { .fl; }
	.views-field-title { .p(50px 0 70px 150px); 
		.field-content { .roboto-bold; .size(20px); }
	}
	.views-field-body { .size(14px); .lh(19px); .m(0 0 40px 0); .roboto-light; 
		p { .m(0 0 10px); }
	}
	&.mobile { .hide; 
		.views-field-field-image { .w(100px);
			img { .w100; .h(auto); }
		}
		.views-field-title { .p(40px 5% 30px 110px); }
		.views-field-body { .m(0 0 30px); }
	}
	@media (max-width: 720px) { .p(0 5% 0 5%);
		&.desktop { .hide; }
		&.mobile { .show; }
	}
}

.teaser-grid { .p(40px 0);
	h2.block-title { .m(0px 5% 10px); .pt(40px); .tc; }
	.view-content { .cb; .p(0 7%); }
	.views-row { .w(31.33%); .h(300px); background: #fff; .m(0 1% 20px); .fl; }
	.teaser-image { .w(100%); .h(180px); .block; .mb(15px); }
	.title { .m(0 20px); .roboto-bold; .size(20px); .black; }
	.subtitle { .m(0 20px 20px); .roboto; .size(14px); .lh(18px); .black; }
	.meta { .grey; .size(11px); .m(0 20px 20px); }
	.excerpt { .m(0 20px 30px); .size(14px); .lh(18px); .black; }
	@media (max-width: 720px) { .hide; }
	&.blog-teasers { 
		.views-row { .h(400px); }
	}
}
.mobile-teasers { .hide;
	h2.block-title { .m(30px 2% 10px); }
	.view-content { .p(0 2%); }
	.views-row { background: #fff; .h(120px); .mb(5px); }
	.teaser-image { .w(100px); .h(120px); .fl; }
	.title { .m(0px 15px 15px 115px); .roboto-bold; .size(14px); .lh(16px); .black; .pt(15px); }
	.subtitle { .m(0px 15px 15px 115px); .roboto; .size(12px); .lh(14px); .black; }
	.meta { .hide; .grey; .size(11px); .m(0px 0px 15px 115px); .lh(13px); }
	.excerpt { .m(0px 15px 15px 115px); .size(11px); .lh(13px); .black; }
	@media (max-width: 720px) { .show; }
}


// Footer

#footer { .w(auto); .ml(240px); .ltgrey; background: url("../images/bg-footer.png") no-repeat right center;
	.block-menu-block { .m(0 8%); .pt(40px);
		ul { .m0; .p0;
			li { .list-none; .fl; .w(22%); .m(0 1.5% 8px); border-bottom: 1px solid rgba(255,255,255,0.2);
				a { .white; .roboto-bold; .block; .m(0 0 8px); .size(13px); }
				&.is-expanded { .mb(30px);
					ul {
						li { .w(100%); .m0; .p0; border-bottom: none; 
							a { .roboto; .block; color: #999; .m(0 0 10px); }
							&.is-expanded { .w(100%); .h(auto); 
								ul { .hide; }
							}
						}
					}
				}
			}
		}
	}
	.copyright { .roboto-bold; .p(10px 0); .m0; .size(12px); .cb; .grey; 
		p { color: #999; .size(11px); .lh(16px); }
	}
	@media (max-width: 1079px) { .ml(180px); }
	@media (max-width: 720px) { .ml(0px); 
		.block-menu-block { .hide; }
	}
}



// Drupal Fixes

.profile { .p(30px); }
#user-login { .p(30px); }
.form-text { background: #fff; .radius(3px); border: 1px solid #ccc; .p(10px); .size(16px); .lh(16px); max-width: 400px; }
.form-submit, input[type="button"], input[type="reset"], input[type="submit"] { .button; }
	